﻿<div class="modal fade" id="modalModificarUsuario" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modificar usuario</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Nombre</td>
                        <td><input type="text" name="nombre" class="form-control" value="JC" style="background-color:#fff8e1;"></td>
                    </tr>
                    <tr>
                        <td>Apellido 1</td>
                        <td><input type="text" name="apellido1" class="form-control" value="Dueñas" style="background-color:#fff8e1;"></td>
                    </tr>
                    <tr>
                        <td>Apellido 2</td>
                        <td><input type="text" name="apellido2" class="form-control" value="Ramírez" style="background-color:#fff8e1;"></td>
                    </tr>
                    <tr>
                        <td>DNE</td>
                        <td><input type="text" name="dne" class="form-control" value="JC_CONSULTIAIT" style="background-color:#fff8e1;"></td>
                    </tr>

                    <tr>
                        <td>TIP</td>
                        <td><input type="text" name="tip" class="form-control" value="123456G" style="background-color:#fff8e1;"></td>
                    </tr>
                    <tr>
                        <td>Empresa</td>
                        <td>
                            <select class="form-control" name="empresa" id="empresa" style="background-color:#fff8e1;">
                                <option value="0">Seleccione</option>
                                <option value="1" selected>Metro Madrid</option>
                                <option value="2">Segur Ibérica</option>
                                <option value="3">Segurisa</option>
                                <option value="4">OMBUDS</option>
                                <option value="5">SIC</option>
                            </select>
                        </td>
                    </tr>
                    <td>Perfil</td>
                    <td>
                        <select class="form-control" name="perfil" id="perfil" style="background-color:#fff8e1;">
                            <option value="0">Seleccione</option>
                            <option value="1">Adjunto PCS</option>
                            <option value="2" selected>Administrador</option>
                            <option value="3">Básico</option>
                            <option value="4">Coordinador</option>
                            <option value="5">Delegados</option>
                            <option value="6">Denuncias</option>
                            <option value="7">Empresas</option>
                            <option value="8">PLS</option>
                            <option value="9">Recintos</option>
                            <option value="10">Usuario PCS</option>
                        </select>
                    </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn button-primario">Modificar</button>
                <button type="button" class="btn button-primario" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>
