﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<script src="js/all_check.js"></script>*@
    @Styles.Render("~/assets/css/style")
    <style type='text/css'>

    </style>
   
</head>
<body>
    <button onclick="topFunction()" id="myBtn" title="Subir pagina"><span class="glyphicon glyphicon-chevron-up"></span></button>
    
    <!-- INICIO DE LA CABECERA -->
        <div class="container-fluid">

            <div class="row row-cabeceraMasterPage">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-left:0px;padding-right:0px">
                    <!-- 	LOGO -->
                    <div class="table-responsive" style="height:120px; ">
                        <img src="@Url.Content("~/assets/images/metroLogo4.gif")" width="110" style="padding-top:20px;" class="img-responsive center-block" />
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-left:0px;padding-right:0px">
                    <div class="table-responsive">
                        <!-- NOTICIAS -->
                        <div class="table-responsive" style="height:80px; padding-top:20px;">
                            <article style="color:white;" class="img-responsive center-block" id="noticiaCabecera">
                             
                            </article>
                        </div>
                        <div class="table-responsive">
                            <article style="color:orange;" class="img-responsive center-block">
                               @ViewBag.Miga
                            </article>
                        </div>
                    </div>
                </div>

                <!-- INICIO GUARDIAS -->
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-left:0px;padding-right:0px">

                    <div class="table-responsive" style="height:120px;padding-top:2px;color:white; padding-left:0px;padding-right:0px">
                        <div class="divTable">
                            <div class="divTableBody" id="tablaGuardias">
                                <div class="divTableRow">
                                    <div class="divTableHead text-center"><label>Guardias</label></div>
                                    <div class="divTableHead text-center"><label>Telefonos</label></div>
                                </div>                                  
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIN GUARDIAS -->

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-left:0px;padding-right:0px">
                    <div class="table-responsive" style="height:120px">
                        <div class="divTable">
                            <div class="divTableBody">
                                <div class="divTableRow">                                 
                                    <div class="divTableCell text-center" style="padding-left:0px;padding-right:0px;padding-top:10%;">                                      
                                        <a href="@Url.Action("Incidencias", "Incidencias")" target="_blank"> <i class="fa fa-plus-square fa-2x" style="color:white" data-toggle="tooltip2" data-original-title="Nueva incidencia" /> &nbsp; </i> </a>
                                        <a href="@Url.Action("Incidencias", "Incidencias")"> <i class="fa fa-edit fa-2x" style="color:white" data-toggle="tooltip2" data-original-title="Incidencias abiertas" /> &nbsp; </i> </a>
                                        <a href="@Url.Action("Incidencias", "Incidencias")"> <i class="fa fa-clock-o fa-2x" style="color:white" data-toggle="tooltip1" data-original-title="Incidencias 24 horas" /> &nbsp;</i> </a>
                                        <a href="@Url.Action("Incidencias", "Incidencias")"><i class="fa fa-search fa-2x" style="color:white" data-toggle="tooltip3" data-original-title="Busqueda de incidencias"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding-left:0px;padding-right:0px">

                    <div class="table-responsive" style="height:120px;padding-top:10px;color:white;">
                        <div class="divTable">
                            <div class="divTableBody">
                                <div class="divTableRow">
                                    <div class="divTableCell text-center" ><img src="@Url.Content("~/assets/images/gem4.png")" style="max-width: 60%;max-height:60%;" class="img-responsive center-block" /></div>
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableCell text-center" style="padding-bottom:5px" ><i class="fa fa-user-secret fa-lg"></i> <span id="bienvenidaUsuario"></span></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN DE LA CABECERA -->

        <!-- INICIO DEL MENU HORIZONTAL -->
        <nav class="navbar-inverse navbar-menubar" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <!-- Inicio menu -->
                <ul class="nav navbar-nav" id="menuDinamico">
                    <li class="dropdown">
                        <a class="navbar-brand" href="#" target="_blank"><i class="fa-lg fa fa-clone"></i>+</a>
                    </li>                                  
                    <!-- /.Fin menu -->
                </ul>
            </div>
        </nav>

        <!-- CUERPO PRINCIPAL -->
        <div class="container-fluid body-content">
            @RenderBody()
            <hr />
            <footer>
                <img  src="@Url.Content("~/assets/images/logoGemi.png")" height="70" />
                <p>&copy; @DateTime.Now.Year - GEMINYS Versión 4.0</p>
            </footer>
        </div>
        <!-- FIN CUERPO PRINCIPAL -->

</body>
</html>

 <script type="text/javascript">
       $(document).ready(function () {
            $.ajax({
            type: 'GET',
            url: '@Url.Action("GetMenu","Home")',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $('#bienvenidaUsuario').html("Bienvenido " + data.Usuario.nombre);
                $('#noticiaCabecera').html(data.Noticias.descripcion);
                for (var i = 0; i < data.Guardias.length; i++) {
                    var cadenaGuardias = "<div class='divTableRow'><div class='divTableCell text-center'>" + data.Guardias[i].nombre + "</div><div class='divTableCell text-center'>" + data.Guardias[i].movilCorporativo + "</div></div>";
                    $('#tablaGuardias').append(cadenaGuardias);
                }
                console.log(data.Usuario.nombre);
                
                var cadenaMenu = '';
                var cadenaSubmenu = '';
                var valorPadre;
                for (var item = 0; item < data.MenuItems.length; item++) {
                  
                    if (data.MenuItems[item].idPadre == null && data.MenuItems[item].atributo != '') {

                        cadenaMenu = "<li class='dropdown'><a href=" + "'" + data.MenuItems[item].Link + "'" + "class='dropdown-toggle' data-toggle='dropdown'><i class=" + "'" + data.MenuItems[item].claseImagen + "'" + "> </i> " + data.MenuItems[item].nombreMenu
                        if (!data.MenuItems[item].idPadre) {
                            cadenaMenu += "<b class='caret'></b></a>"
                        }
                        else { cadenaMenu += "</a>" }                      
                        valorPadre = data.MenuItems[item].idMenu;
                    }
                    else {
                        valorPadre = 0;
                    }

                    if (valorPadre != 0) {
                        // Recorre toda la lista y encadena los submenus que pertenecen a cada menu
                        cadenaSubmenu = '';
                        for (var sub = 0; sub < data.MenuItems.length; sub++) {
                            if (valorPadre == data.MenuItems[sub].idPadre && data.MenuItems[sub].atributo != '') {                            
                                cadenaSubmenu +=  "<li><a href=" + "'" + data.MenuItems[sub].Link + "'" + ">" + data.MenuItems[sub].nombreMenu + "</a></li>";                            
                            }                          
                        }                      
                        $('#menuDinamico').append(cadenaMenu + '<ul class="dropdown-menu">' + cadenaSubmenu + '</ul></li></li>');
                    }                   
                }                
            },
            error: function (emp) {
            alert('error');
            }
        });
     });
</script>





































