﻿
<ul class="list-group">
    <li class="list-group-item"><a href="" class="btn-dark btn-block" >Home</a></li>
    <li class="list-group-item"><a href="" class="btn-dark btn-block">Home</a></li>
</ul>

<div class="row row-cabeceraMasterPage">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-left:0px;padding-right:0px">
        <!-- 	LOGO -->
        <div class="table-responsive" style="height:120px; ">
            <img src="assets/images/metroLogo4.gif" width="110" style="padding-top:20px;" class="img-responsive center-block" />
        </div>

    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-left:0px;padding-right:0px">
        <div class="table-responsive">
            <!-- NOTICIAS -->
            <div class="table-responsive" style="height:100px; padding-top:20px;">
                <article style="color:white;" class="img-responsive center-block">
                    Servicio interrumpido entre las estaciones de SOL y CALLAO desde  las 00:00 horas del Lunes 23 Febrero a las 12:00 del Martes 24 Febrero
                </article>
            </div>

        </div>
    </div>
    <!-- INICIO GUARDIAS -->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-left:0px;padding-right:0px">

        <div class="table-responsive" style="height:120px;padding-top:2px;color:white; padding-left:0px;padding-right:0px">
            <div class="divTable">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableHead text-center"><label>Guardias</label></div>
                        <div class="divTableHead text-center"><label>Telefonos</label></div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell text-center">Ivan Navarro</div>
                        <div class="divTableCell text-center">62704</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell text-center">Jose A.Rodríguez Villena</div>
                        <div class="divTableCell text-center">38622/62524</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell text-center">Manuel Pérez Rodríguez</div>
                        <div class="divTableCell text-center">38622/62524</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN GUARDIAS -->

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-left:0px;padding-right:0px">
        <div class="table-responsive" style="height:120px">
            <div class="divTable">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell text-center" style="padding-left:0px;padding-right:0px">
                            <img src="assets/images/gem4.png" style="max-width: 80%;max-height: 80%;" />
                        </div>
                        <div class="divTableCell text-center" style="padding-left:0px;padding-right:0px">
                            <a href="incidencias.html"> <i class="fa fa-edit fa-2x" style="color:white" data-toggle="tooltip2" data-original-title="Incidencias abiertas" /> &nbsp; </i> </a>
                            <a href="incidencias.html"> <i class="fa fa-clock-o fa-2x" style="color:white" data-toggle="tooltip1" data-original-title="Incidencias 24 horas" /> &nbsp;</i> </a>
                            <a href="incidencias.html"> <a href="incidencias.html"><i class="fa fa-search fa-2x" style="color:white" data-toggle="tooltip3" data-original-title="Busqueda de incidencias"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding-left:0px;padding-right:0px">

        <div class="table-responsive" style="height:120px;padding-top:10px;color:white;">
            <div class="divTable">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell text-center" style="padding-bottom:5px"><i class="fa fa-user-secret fa-lg"></i> Bienvenido @User.Identity.Name</div>
                    </div>

                    <div class="divTableRow">
                        <div class="divTableCell text-center" style="padding-top:50px"><label>Pagina Maestra</label></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


