﻿@{
    ViewBag.Title = "Home Page";
}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">Noticias</div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr class="fondoGris">
                    <th>Fecha</th>
                    <th>Fecha Fin</th>
                    <th class="text-center" width="30%">Título</th>
                    <th class="text-center">Descripción</th>
                </tr>
                <tr>
                    <td>03/02/2018</td>
                    <td>03/02/2018</td>
                    <td>Importancia del latin en la sociedad actual</td>
                    <td>
                        El latín nos sirve como trampolín para sumergirnos más profundamente en nuestra visión del mundo, en nuestra manera de pensar, en nuestra vida. Aquel que entiende bien el mensaje que el latín trasmite en sus textos se cuestionará mejor y verá que antes de nuestros valores hubo otros, muy diferentes, pero perfectamente coherentes, que merecen nuestra admiración y respeto.
                    </td>
                </tr>
                <tr>
                    <td>03/02/2018</td>
                    <td>05/02/2018</td>
                    <td>Importancia de los trabalenguas con D</td>
                    <td>
                        Los trabalenguas con D efectúan un objetivo esencial en la adquisición de fluidez y rapidez en la lectura oral, debido a que son un juego de palabras con
                        sonidos difíciles de pronunciar. Lo esencial es lograr expresarlos con claridad y rapidez aumentando la velocidad sin dejar de pronunciar ninguna de las
                        palabras en forma correcta.
                    </td>
                </tr>
                <tr>
                    <td>03/02/2018</td>
                    <td>034/02/2018</td>
                    <td>Que es la rima asonante</td>
                    <td>
                        La rima asonante es la que no es consonante,pero que tiene la asonante que no tiene la consonante
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Calendario de operativas</div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr class="fondoGris">
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th class="text-center">Dependencia</th>
                    <th class="text-center">Descripción</th>
                </tr>
                <tr>
                    <td>02/02/2018</td>
                    <td>17:50</td>
                    <td>Aeropuerto T4</td>
                    <td>
                        A la hora prevista se prevee la afluencia de un gran numero de viajeros procedentes del Mar de la China, se reforzaran los servicios para atender la demanda.
                    </td>
                </tr>
                <tr>
                    <td>03/02/2018</td>
                    <td>17:50</td>
                    <td>La alegria de la huerta</td>
                    <td>
                        Se preveen cortes en las calles aledañas a la dependencia, se reforzaran los servicios de seguridad.
                    </td>
                </tr>
                <tr>
                    <td>04/02/2018</td>
                    <td>17:50</td>
                    <td>Puerta del Sol</td>
                    <td>
                        A la hora prevista habrá una manifestación por los derechos de las tortugas en cautiverio, se cerrara la via de acceso principal a la estacion Puerta del Sol
                    </td>
                </tr>
            </table>

        </div>
    </div>

</div> 
<!-- fin -->
    