﻿
@{
    ViewBag.Title = "BajadaVia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br>
    <!-- INICIO PANEL BUSQUEDA BAJADAS A VIA -->
    <div class="panel panel-primary">
        <div class="panel-heading">BUSQUEDA - ALTA BAJADA VÍA</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td class="text-center">
                                <label>Linea o Estacíon</label><select class="form-control" name="estado" id="estado">
                                    <option value="" disabled selected>Selecciona una linea o estación</option>
                                    <option value="1">Linea 1</option>
                                    <option value="2">Linea 2</option>
                                    <option value="3">Linea 3</option>
                                    <option value="4">Linea 4</option>
                                    <option value="5">Linea 5</option>
                                </select>
                            </td>
                            <td style="width:8%" class="text-center"><label>DNE SOLICITA</label><input type="text" name="txtDNE" class="form-control"></td>

                            <td class="text-center">
                                <label>Hora Protocolo</label>
                                <div class="form-inline">
                                    <input type="date" id="fechaAccionManual" class="form-control tamanoInputFechas" onClick="getFecha(this);">
                                    <input class="form-control tamanoInputHoras" type="time" id="horaAccionManual"  onClick="getHora(this);">
                                </div>
                            </td>
                            <td class="text-center">
                                <label>Hora Bajada</label>
                                <div class="form-inline">
                                    <input type="date" id="fechaAccionManual" class="form-control tamanoInputFechas" onClick="getFecha(this);">
                                    <input class="form-control tamanoInputHoras" type="time" id="horaAccionManual"  onClick="getHora(this);">
                                </div>
                            </td>
                            <td class="text-center">
                                <label>Hora Salida</label>
                                <div class="form-inline">
                                    <input type="date" id="fechaAccionManual" class="form-control tamanoInputFechas" onClick="getFecha(this);">
                                    <input class="form-control tamanoInputHoras" type="time" id="horaAccionManual" onClick="getHora(this);">
                                </div>
                            </td>

                            <td colspan="6" class="text-center"><label>Observaciones</label><textarea class="form-control" rows="4" cols="50" id="comment"></textarea></td>

                            <td style="padding-top:32px;">
                                <button type="button" id="botonMantenimiento" class="btn button-primario hover_btn" value="Buscar bajada">Buscar</button>
                                <button type="button" id="botonMantenimiento" class="btn button-primario hover_btn" data-toggle="modal" data-target="#modalRealizarBajada">Alta Bajada</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" STYLE="color:orange;">LA HORA DE SALIDA A 00:00 SE CONSIDERARÁ COMO INCIDENCIA NO CERRADA</td>
                        <tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- FIN PANEL BUSQUEDA BAJADAS A VIA -->
    <!-- INICIO LISTADO BAJADAS A VIA -->
    <div class="panel panel-primary">
        <div class="panel-heading">LISTADO DE BAJADAS A VIAS PENDIENTES &nbsp;&nbsp; [sin límite de tiempo]</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th style="width:10%" class="text-center">LINEA-ESTACION</th>
                        <th style="width:5%" class="text-center">SOLICITA</th>
                        <th style="width:10%" class="text-center">FECHA PROTOCOLO</th>
                        <th style="width:5%" class="text-center">HORA PROTOCOLO</th>
                        <th style="width:10%" class="text-center">FECHA BAJADA</th>
                        <th style="width:5%" class="text-center">HORA BAJADA</th>
                        <th style="width:10%" class="text-center">FECHA SALIDA</th>
                        <th style="width:5%" class="text-center">HORA SALIDA</th>
                        <th style="width:35%" class="text-center">OBSERVACIONES</th>
                        <th colspan="2" class="text-center">
                            Accion
                        </th>
                    </tr>
                    <tr class="text-center">
                        <td style="width:10%">Línea 1 - Valdecarros</td>
                        <td>PE3365</td>
                        <td>19/02/2018</td>
                        <td>10:35</td>
                        <td>19/02/2018</td>
                        <td>10:35</td>
                        <td>19/02/2018</td>
                        <td>10:35</td>
                        <td>Conoce las normas para la seguridad
                        <td>
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td><button type="button" id="botonMantenimiento" class="btn" style="background-color:transparent" data-toggle="modal" data-target="#modalModificarEncierre"><i class="fa fa-edit" style="font-size:24px;color:blue;"></i></button></td>
                                    <td><button type="button" id="botonMantenimiento" class="btn" style="background-color:transparent"><i class="fa fa-trash" style="font-size:24px;color:red;"></i></button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td>Línea 1 - Valdecarros</td>
                        <td>PE3365</td>
                        <td>19/02/2018</td>
                        <td>10:35</td>
                        <td>19/02/2018</td>
                        <td>10:35</td>
                        <td>19/02/2018</td>
                        <td>10:35</td>

                        <td class="text-left">
                            Conoce las normas para la seguridad de los agentes en relación con la circulación y porta linterna de doble señalización, radiotélefonos de trenes y
                            prenda personal de alta visibilidad.
                        <td>
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td><button type="button" id="botonMantenimiento" class="btn" style="background-color:transparent" data-toggle="modal" data-target="#modalModificarEncierre"><i class="fa fa-edit" style="font-size:24px;color:blue;"></i></button></td>
                                    <td><button type="button" id="botonMantenimiento" class="btn" style="background-color:transparent"><i class="fa fa-trash" style="font-size:24px;color:red;"></i></button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">LISTADO DE BAJADAS A VIAS PENDIENTES &nbsp;&nbsp; [sin límite de tiempo]</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr class="text-center">
                        <th style="width:10%" class="text-center">LINEA-ESTACION</th>
                        <th style="width:5%" class="text-center">SOLICITA</th>
                        <th style="width:10%" class="text-center">FECHA PROTOCOLO</th>
                        <th style="width:5%" class="text-center">HORA PROTOCOLO</th>
                        <th style="width:10%" class="text-center">FECHA BAJADA</th>
                        <th style="width:5%" class="text-center">HORA BAJADA</th>
                        <th style="width:10%" class="text-center">FECHA SALIDA</th>
                        <th style="width:5%" class="text-center">HORA SALIDA</th>
                        <th style="width:35%" class="text-center">OBSERVACIONES</th>
                        <th colspan="2" class="text-center">
                            Accion
                        </th>
                    </tr>
                    <tr class="text-center">
                        <td>Línea 1 - Valdecarros</td>
                        <td>PE3365</td>
                        <td>19/02/2018</td>
                        <td class="text-center">10:35</td>
                        <td>19/02/2018</td>
                        <td>10:35</td>
                        <td>19/02/2018</td>
                        <td>10:35</td>

                        <td>Conoce las normas para la seguridad
                        <td>
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td><button type="button" id="botonMantenimiento" class="btn" style="background-color:transparent" data-toggle="modal" data-target="#modalModificarEncierre"><i class="fa fa-edit" style="font-size:24px;color:blue;"></i></button></td>
                                    <td><button type="button" id="botonMantenimiento" class="btn" style="background-color:transparent"><i class="fa fa-trash" style="font-size:24px;color:red;"></i></button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td>Línea 1 - Valdecarros</td>
                        <td>PE3365</td>
                        <td>19/02/2018</td>
                        <td>10:35</td>
                        <td>19/02/2018</td>
                        <td>10:35</td>
                        <td>19/02/2018</td>
                        <td>10:35</td>

                        <td>Conoce las normas para la seguridad
                        <td>
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td><button type="button" id="botonMantenimiento" class="btn" style="background-color:transparent" data-toggle="modal" data-target="#modalModificarEncierre"><i class="fa fa-edit" style="font-size:24px;color:blue;"></i></button></td>
                                    <td><button type="button" id="botonMantenimiento" class="btn" style="background-color:transparent"><i class="fa fa-trash" style="font-size:24px;color:red;"></i></button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- FIN PANEL LISTADO -->

</div> 
