﻿
@{
    ViewBag.Title = "Encierres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br>
    <!-- INICIO PANEL BUSQUEDA ENCIERRES -->
    <div class="panel panel-primary">
        <div class="panel-heading">Busqueda o Alta de radioteléfono</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td>
                                <label>Linea o Estacíon</label><select class="form-control" name="linea" id="linea">
                                    <option value="" disabled selected>Selecciona una linea o estación</option>
                                    <option value="1">Linea 1</option>
                                    <option value="2">Linea 2</option>
                                    <option value="3">Linea 3</option>
                                    <option value="4">Linea 4</option>
                                    <option value="5">Linea 5</option>
                                </select>
                            </td>
                            <td style="width:5%"><label>Hora</label><input type="dateTime" name="txtHora" class="form-control tamanoInputHoras"></td>
                            <td><label>Anden I</label><input type="text" name="txtAndenI" class="form-control"></td>
                            <td><label>Anden II</label><input type="text" name="txtAndenI" class="form-control"></td>
                            <td style="padding-top:32px;">
                                <button type="button" id="botonMantenimiento" class="btn button-primario hover_btn" value="Buscar usuario">Buscar</button>
                                <button type="button" id="botonMantenimiento" class="btn button-primario hover_btn" data-toggle="modal" data-target="#modalRealizarEncierre">Realizar encierre</button>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- FIN PANEL BUSQUEDA ENCIERRES -->
    <!-- INICIO LISTADO BUSQUEDA ENCIERRES -->
    <div class="panel panel-primary">
        <div class="panel-heading">Listado de encierres[DÍA NATURAL]</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr class="fondoGris">
                        <td></td>
                        <th style="width:15%">LINEA-ESTACION</th>
                        <th style="width:5%">FECHA</th>
                        <th style="width:5%">HORA</th>
                        <th style="width:30%">ANDEN I</th>
                        <th style="width:30%">ANDEN II</th>
                        <th colspan="2">
                            Accion
                        </th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Línea 1 - Valdecarros</td>
                        <td>19/02/2018</td>
                        <td>14:31</td>
                        <th>Se ha realizado el encierre en la via</th>
                        <th>Se ha realizado el encierre en la via</th>
                        <td>
                            <table>
                                <tr>
                                    <td><button type="button" id="botonMantenimiento" class="btn" style="background-color:transparent" data-toggle="modal" data-target="#modalModificarEncierre"><i class="fa fa-edit" style="font-size:24px;color:blue;"></i></button></td>
                                    <td><button type="button" id="botonMantenimiento" class="btn" style="background-color:transparent"><i class="fa fa-trash" style="font-size:24px;color:red;"></i></button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Línea 1 - Valdecarros</td>
                        <td>19/02/2018</td>
                        <td>14:31</td>
                        <th>Se ha realizado el encierre en la via</th>
                        <th>Se ha realizado el encierre en la via</th>
                        <td>
                            <table>
                                <tr>
                                    <td><button type="button" id="botonMantenimiento" class="btn" style="background-color:transparent" data-toggle="modal" data-target="#modalModificarEncierre"><i class="fa fa-edit" style="font-size:24px;color:blue;"></i></button></td>
                                    <td><button type="button" id="botonMantenimiento" class="btn" style="background-color:transparent"><i class="fa fa-trash" style="font-size:24px;color:red;"></i></button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- FIN PANEL BUSQUEDA ENCIERRES -->

</div> <!-- fin columna 21-->
<!-- Modal ALTA ENCIERRE -->
<div class="modal fade" id="modalRealizarEncierre" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Encierre Metro</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Línea o estación</td>
                        <td>
                            <select class="form-control" name="linea" id="linea">
                                <option value="0" disabled selected>Seleccione Línea o estación...</option>
                                <option value="1">Linea 1</option>
                                <option value="2">Linea 2</option>
                                <option value="3">Linea 3</option>
                                <option value="4">Linea 4</option>
                                <option value="5">Linea 5</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Hora</td>
                        <td><input type="text" name="nombre" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Anden I</td>
                        <td><input type="text" name="nombre" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Anden II</td>
                        <td><input type="text" name="nombre" class="form-control"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn button-primario">Aceptar</button>
                <button type="button" class="btn button-primario" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal FIN ALTA  ENCIERRE  -->
<!-- Modal MODIFICAR ENCIERRE -->
<div class="modal fade" id="modalModificarEncierre" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modificar encierre</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Línea o estación</td>
                        <td>
                            <select class="form-control" name="linea" id="linea" style="background-color:#fff8e1;">
                                <option value="0" disabled selected>Seleccione línea o estación...</option>
                                <option value="1">Linea 1</option>
                                <option value="2">Linea 2</option>
                                <option value="3">Linea 3</option>
                                <option value="4">Linea 4</option>
                                <option value="5">Linea 5</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Hora</td>
                        <td><input type="text" name="nombre" class="form-control" style="background-color:#fff8e1;"></td>
                    </tr>
                    <tr>
                        <td>Anden I</td>
                        <td><input type="text" name="nombre" class="form-control" style="background-color:#fff8e1;"></td>
                    </tr>
                    <tr>
                        <td>Anden II</td>
                        <td><input type="text" name="nombre" class="form-control" style="background-color:#fff8e1;"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn button-primario">Modificar</button>
                <button type="button" class="btn button-primario" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

