﻿
@{
    ViewBag.Title = "Incidencias";

}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-16 col-sm-16 col-md-16 col-lg-16">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <br>
                <div class="panel panel-primary ">
                    <div class="panel-heading">Datos de Incidencia</div>
                    <div class="panel-body  ">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div class="panel panel-primary panel-primary-incidencia">

                                    <div class="panel-body panel-body-incidencia ">
                                        <div class="table-responsive">
                                            <table>
                                                <tr>
                                                    <td><label>Dependencia*&nbsp;&nbsp;</label></td>
                                                    <td>
                                                        <select class="form-control selectwidthauto" name="dependencia" id="dependencia">
                                                            <option value="0">Seleccione..</option>
                                                            <option value="1">Argüelles</option>
                                                            <option value="2">Moncloa</option>
                                                            <option value="3">Ventura Rodríguez</option>
                                                            <option value="4">Plaza España</option>
                                                            <option value="5">Callao</option>
                                                            <option value="6">Sol</option>
                                                            <option value="7">Lavapies</option>
                                                            <option value="8">Embajadores</option>
                                                            <option value="9">Palos de la Frontera</option>
                                                            <option value="10">Delicias</option>
                                                            <option value="11">Legazpi</option>
                                                        </select>
                                                    </td>

                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><label>Fecha Inicio*&nbsp;&nbsp;</label></td>
                                                    <td><input type="date" id="fechaIni" class="form-control tamanoInputFechas" onClick="getFecha(this);"></td>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><label>Hora Inicio*&nbsp;&nbsp;</label></td>
                                                    <td><input type="time" id="horaIni" class="form-control tamanoInputHoras" onClick="getHora(this);"></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"><label id='mensajeDepedencia' style="display:none;color:blue;">Aqui aparece mensaje relacionado con la dependencia</label></td>


                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><label>Fecha Fin&nbsp;&nbsp;</label></td>
                                                    <td><input type="date" id="fechaFin" class="form-control tamanoInputFechas" onClick="getFecha(this);"></td>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><label>Hora Fin&nbsp;&nbsp;</label></td>
                                                    <td><input type="time" id="horaFin" class="form-control tamanoInputHoras" onClick="getHora(this);"></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td><label>Zona&nbsp;&nbsp;</label></td>
                                                    <td><input type="text" class="form-control tamanoInputHoras" disabled></td>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><label>Lote&nbsp;&nbsp;</label></td>
                                                    <td><input type="text" class="form-control tamanoInputHoras" disabled></td>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><label>Linea&nbsp;&nbsp;</label></td>
                                                    <td><input type="text" class="form-control tamanoInputHoras" disabled></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                </tr>

                                                <tr>

                                                    <td><label>Código</label></td>
                                                    <td colspan="2">
                                                        <select class="form-control selectwidthauto" name="dependencia" id="dependencia">
                                                            <option value="0">Seleccione..</option>
                                                            <option value="1">100-Delitos y faltas</option>
                                                            <option value="2">200-Asistencias sanitarias</option>
                                                            <option value="3">300-Grafitis</option>
                                                            <option value="4">400-Control de fraude</option>
                                                            <option value="5">500-Alarmas</option>
                                                            <option value="6">600-Asistencias Sanitarias</option>
                                                            <option value="7">700-Acción Informativa</option>
                                                            <option value="8">800-Incidencias Instalaciones/Trenes</option>
                                                            <option value="9">900-Sabotajes/Atentados/Amenazas terroristas</option>

                                                        </select>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                </tr>
                                                <tr>
                                                   <td><label>Subcódigo&nbsp;&nbsp;</label></td>
                                                    <td colspan="2">
                                                        <select class="form-control selectwidthauto " name="dependencia" id="dependencia">
                                                            <option value="0">Seleccione..</option>
                                                            <option value="1">101-Robos</option>
                                                            <option value="2">102-Hurtos</option>
                                                            <option value="3">201-Asistencia Sanitaria</option>
                                                            <option value="4">202-Personas extraviadas o desorientadas</option>
                                                            <option value="5">301-Pintada Consumada</option>
                                                            <option value="6">302-Firmas Consumadas</option>
                                                            <option value="7">401-Infracción e Intervención</option>
                                                            <option value="8">402-Dinero Falso</option>
                                                            <option value="9">501-Alarma Cajero/Bibliometro</option>
                                                            <option value="10">502-Alarma CRA/TCE</option>
                                                            <option value="11">601-Vendedores</option>
                                                            <option value="12">602-Botellón</option>
                                                            <option value="13">701-Objetos abandonados</option>
                                                            <option value="14">702-Inicio/Fin operativa</option>
                                                            <option value="15">801-Animal en Instalaciones</option>
                                                            <option value="16">802-Incendio</option>
                                                        </select>
                                                    </td>
                                                    <td></td>
                                                    <td><label>Incluir resumen</label></td>
                                                    <td><input type="checkbox" value="" checked></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td><label>Descripción Resumen</label></td>
                                                    <td colspan="8"><textarea class="form-control" rows="2" id="comment"></textarea></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td><label>Información Confidencial</label></td>
                                                    <td colspan="8"> <textarea class="form-control" rows="2" id="comment"></textarea></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td><label>Ampliación&nbsp;&nbsp;</label></td>
                                                    <td colspan="8"><input type="text" class="form-control"></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td></td>
                                                    <td colspan="8" class="text-center"><input type="submit" id="botonMantenimiento" class="btn button-primario hover_btn" value="Crear Incidencia" onclick="addPanelAccionesAutomaticas()"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="panel panel-primary panel-primary-incidencia">

                                    <div class="panel-body panel-body-incidencia " style="background-color: #f4f6f6; font-size:12px;">
                                        <div class="table-responsive" style="padding-top:10px; padding-left:5px;">
                                            <table>
                                                <tr>
                                                    <div class="checkboxes">
                                                        <td style="padding-bottom:10px;" class="text-right">
                                                            <label>Agresión</label>
                                                            <input type="checkbox" value="" id="chk_Agresion" onclick="selectComboAgresion(this)">
                                                        </td>
                                                    </div>
                                                    <td>&nbsp;&nbsp;</td>
                                                    <td>
                                                        <select class="form-control input-sm" name="selectAgresion" id="selectAgresion" style="display:none;height:28px;">
                                                            <option value="0">Seleccione..</option>
                                                            <option value="1">Agente de Metro</option>
                                                            <option value="2">Personal de Intervención</option>
                                                            <option value="3">Vigilantes</option>
                                                            <option value="4">Viajeros</option>
                                                            <option value="5">Otros</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Amenazas/Insultos</label>
                                                        <input type="checkbox" value="" id="chk_Amenazas" onclick="selectComboAmenazas(this)">
                                                    </td>
                                                    <td>&nbsp;&nbsp;</td>
                                                    <td style="padding-top:0px;">
                                                        <select class="form-control input-sm" name="selectAmenazas" id="selectAmenazas" style="display:none;height:28px;">
                                                            <option value="0">Seleccione..</option>
                                                            <option value="1">Agente de Metro</option>
                                                            <option value="2">Personal de Intervención</option>
                                                            <option value="3">Vigilantes</option>
                                                            <option value="4">Viajeros</option>
                                                            <option value="5">Otros</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="table-responsive" style="padding-left:17px;">
                                            <table style="padding-right:100px;">
                                                <tr>
                                                    <td class="text-right">
                                                        <span class="glyphicon glyphicon-warning-sign" style="color:orange" data-toggle="tooltip" data-original-title="Si se activa, debera rellenarse los campos de valoración y detalle del daño en la ficha de información adicional"></span>
                                                        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Denuncia</label>&nbsp;&nbsp;&nbsp;<input type="checkbox" id="chkDenuncia" onclick="mostrarBotonInfAdicional(this)">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right"><span class="glyphicon glyphicon-warning-sign" style="color:orange"></span><label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Daños</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value=""></td>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td class="text-left"><span class="glyphicon glyphicon-warning-sign" style="color:orange"></span>&nbsp;&nbsp;&nbsp;&nbsp;<label>Exterior</label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value=""></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right"><span class="glyphicon glyphicon-warning-sign" style="color:orange"></span><label>&nbsp;&nbsp;&nbsp;Intervención</label>&nbsp;&nbsp;&nbsp;<input type="checkbox" value=""></td>
                                                    <td></td>
                                                    <td class="text-right" colspan="2"><label>C.A.E&nbsp;&nbsp;</label><input type="checkbox" value=""></td>
                                                </tr>
                                            </table>

                                        </div>

                                        <div class="table-responsive" style="padding-top:10px;">
                                            <table>
                                                <tr>
                                                    <td><a href="informacionAdicional.html"><input type="submit" id="btnInfAdicional" class="btn button-primario hover_btn" value="Información adicional" style="display:none;"></a></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="table-responsive" style="padding-top:10px;padding-left:17px;">
                                            <table>
                                                <tr>
                                                    <td class="text-left">
                                                        <span class="glyphicon glyphicon-warning-sign" style="color:orange" data-toggle="tooltip" data-original-title="Elegir el de mayor gravedad"></span>
                                                        <label>En TREN</label>
                                                    </td>
                                                    <td></td>
                                                </tr>

                                                <tr>
                                                    <td colspan="2" class="text-left"><input type="radio" value="" name="opcionesTren"><label>&nbsp;&nbsp;Cabina</label></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="text-right"><input type="radio" value="" name="opcionesTren"><label>&nbsp;&nbsp;Freno de Emergencia</label></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="text-left"><input type="radio" value="" name="opcionesTren"><label>&nbsp;&nbsp;En circulación</label></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="text-left"><input type="radio" value="" name="opcionesTren"><label>&nbsp;&nbsp;Estacionado</label></td>
                                                </tr>

                                            </table>
                                        </div>
                                        <div class="table-responsive" style="padding-top:10px;padding-left:12px;">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <label>EN INSTALACIONES FIJAS</label>&nbsp;<input type="radio" value="" name="instalacionesFijas">
                                                    </td>
                                                </tr>

                                            </table>
                                        </div>
                                        <div class="table-responsive" style="padding-top:10px; padding-left:10px; ">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-warning-sign" style="color:orange"></span>
                                                        <label>PETICION INFORME A VVSS</label>
                                                        &nbsp;<input type="checkbox" value="">
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-warning-sign" style="color:orange"></span><label>&nbsp;VISUALIZACIÓN IMAGENES</label>
                                                        &nbsp;&nbsp;<input type="checkbox" value="">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="table-responsive" style="padding-top:10px;">
                                            <table class="table-responsive ">
                                                <tr>
                                                    <td style="padding-right: 12px; padding-bottom:2px;"><label>Disp.Policial</label></td>
                                                    <td style="padding-right: 12px; padding-bottom:2px;">
                                                        <input class="form-control tamanoInputRecursos" type="text" value="0" id="example-number-input">
                                                    </td>

                                                    <td style="padding-right: 12px; padding-bottom:2px;"><label>Nº Vendedores</label></td>
                                                    <td style="padding-right: 12px; padding-bottom:2px;">
                                                        <input class="form-control tamanoInputRecursos" type="text" value="0" id="example-number-input">
                                                    </td>


                                                </tr>
                                                <tr>
                                                    <td style="padding-right: 12px; padding-bottom:2px;"><label>Nº Agresores</label></td>
                                                    <td style="padding-right: 12px; padding-bottom:2px;">
                                                        <input class="form-control tamanoInputRecursos" type="text" value="0" id="example-number-input">
                                                    </td>
                                                    <td style="padding-right: 12px; padding-bottom:2px;"><label>Nº Botellon</label></td>
                                                    <td style="padding-right: 12px; padding-bottom:2px;">
                                                        <input class="form-control tamanoInputRecursos" type="text" value="0" id="example-number-input">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-right: 12px; padding-bottom:2px;"><label>Nº Grafiteros</label></td>
                                                    <td style="padding-right: 12px; padding-bottom:2px;">
                                                        <input class="form-control tamanoInputRecursos" type="text" value="0" id="example-number-input">
                                                    </td>
                                                    <td style="padding-right: 12px; padding-bottom:2px;"><label>Dinero en Mettas</label></td>
                                                    <td style="padding-right: 12px; padding-bottom:2px;">
                                                        <input class="form-control tamanoInputRecursos" type="text" value="0" id="example-number-input">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- FIN DATOS DE INCIDENCIA -->
                <!-- INICIO ACCIONES MANUALES -->
                <div class="panel panel-primary">
                    <div class="panel-heading">Acciones manuales</div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th class="text-center tamanoInputFechas">Fecha</th>
                                    <th class="text-center tamanoInputHoras">Hora</th>
                                    <th>Recurso</th>
                                    <th>Acción</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td><input type="date" id="fechaAccionManual" class="form-control tamanoInputFechas" onClick="getFecha(this);"></td>
                                    <td><input class="form-control tamanoInputHoras" type="time" id="horaAccionManual"  onClick="getHora(this);"></td>
                                    <td>
                                        <div class="table-responsive">
                                            <table>
                                                <tr>
                                                    <td><a><img src="assets/images/imgs/icono_CFSE_PCS.gif" alt="" onclick="seleccionarRecurso(this)" id="PCS" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><a><img src="assets/images/imgs/icono_CFSE_CS.gif" alt="" onclick="seleccionarRecurso(this)" id="CS" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><a><img src="assets/images/imgs/icono_Vigilante_F.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><a><img src="assets/images/imgs/icono_Vigilante_M.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><a><img src="assets/images/imgs/icono_Vigilante_O.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><a><img src="assets/images/imgs/icono_Vigilante_R.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>

                                                </tr>
                                                <tr>
                                                    <td><a><img src="assets/images/imgs/icono_CFSE_SC.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><a><img src="assets/images/imgs/icono_CFSE_PCE.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><a><img src="assets/images/imgs/icono_CFSE_policiaPCS.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><a><img src="assets/images/imgs/icono_CFSE_policia.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><a><img src="assets/images/imgs/icono_CFSE_samur.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>

                                                </tr>
                                                <tr>
                                                    <td><a><img src="assets/images/imgs/icono_CFSE_112.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><a><img src="assets/images/imgs/icono_CFSE_municipal.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><a><img src="assets/images/imgs/icono_CFSE_bomberos.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><a><img src="assets/images/imgs/icono_CFSE_GCivil.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><a><img src="assets/images/imgs/icono_CFSE_acuda.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>

                                                </tr>
                                                <tr>
                                                    <td colspan="6">
                                                        <select class="form-control" name="selectRecursos" id="selectRecursos">
                                                            <option value="0">Seleccione..</option>
                                                            <option value="1">091</option>
                                                            <option value="2">092</option>
                                                            <option value="3">Bomberos</option>
                                                            <option value="4">Samur</option>
                                                            <option value="PCS">PCS</option>
                                                            <option value="CS">CS</option>
                                                            <option value="6">SC</option>

                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="table-responsive">
                                            <table>
                                                <tr>
                                                    <td><a><img src="assets/images/imgs/icono_Accion_LLamadaEntrante.gif" alt="" onclick="seleccionarAcciones(this)" id="LlamadaRecibida" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><a><img src="assets/images/imgs/icono_Accion_NosInforman.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><a><img src="assets/images/imgs/icono_Accion_NosInformanW.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><a><img src="assets/images/imgs/icono_Accion_LLamadaSaliente.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><a><img src="assets/images/imgs/icono_Accion_Informamos.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td><a><img src="assets/images/imgs/icono_Accion_InformamosW.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><a><img src="assets/images/imgs/icono_Alarmas_Prealarma.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><a><img src="assets/images/imgs/icono_Alarmas_Amarilla.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><a><img src="assets/images/imgs/icono_Alarmas_Roja.gif" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td><br></td>
                                                <tr>
                                                <tr>
                                                    <td colspan="5">
                                                        <select class="form-control" name="selectAcciones" id="selectAcciones">
                                                            <option value="0">Seleccione..</option>
                                                            <option value="1">Llamada realizada</option>
                                                            <option value="LlamadaRecibida">Llamada recibida</option>
                                                            <option value="3">Nos informan</option>
                                                            <option value="4">Informamos</option>
                                                            <option value="5">Envio SMS</option>
                                                            <option value="6">PreAlarma</option>
                                                            <option value="7">Alarma amarilla</option>
                                                            <option value="8">Alarma roja</option>
                                                            <option value="9">Nos informan por radiotélefono</option>
                                                            <option value="10">Informamos por radiotélefono</option>
                                                            <option value="11">Nivel 0</option>
                                                            <option value="12">Nivel 1</option>
                                                            <option value="13">Nivel 2</option>
                                                            <option value="14">Nivel 3</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                    <td colspan="6"><textarea class="form-control" rows="4" cols="50" id="comment"></textarea></td>
                                </tr>
                                <tr>
                                    <td colspan="8" class="text-center"><button class="btn button-primario hover_btn">Añadir acción</button> </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div> <!-- FIN ACCIONES MANUALES -->
                <!-- INICIO ACCIONES AÑADIDAS -->
                <div class="panel panel-primary">
                    <div class="panel-heading">Acciones añadidas</div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table" id="tablaAccionesAdd">
                                <tr>
                                    <th class="text-center">FECHA</th>
                                    <th class="text-center">HORA</th>
                                    <th class="text-center">DNE</th>
                                    <th class="text-center">RECURSO</th>
                                    <th class="text-center">ACCIÓN</th>
                                    <th class="text-center">DESCRIPCIÓN</th>
                                    <th class="text-center"></th>
                                </tr>
                                <tr>
                                    <td class="text-center">05/02/2018</td>
                                    <td class="text-center">15:58</td>
                                    <td class="text-center">PE3365</td>
                                    <td class="text-center">PCS</td>
                                    <td class="text-center">Llamada recibida</td>
                                    <td class="text-center">Recibimos llamada informando de la incidencia</td>
                                    <td class="text-center">
                                        <table>
                                            <tr>
                                                <td><button type="button" id="botonMantenimiento" class="btn" style="background-color:transparent"><i class="fa fa-edit" style="font-size:24px;color:blue;"></i></button></td>
                                                <td><button type="button" id="botonMantenimiento" class="btn" style="background-color:transparent"><i class="fa fa-trash" style="font-size:24px;color:red;"></i></button></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">05/02/2018</td>
                                    <td class="text-center">15:58</td>
                                    <td class="text-center">PE3365</td>
                                    <td class="text-center">PCS</td>
                                    <td class="text-center">Llamada recibida</td>
                                    <td class="text-center">Recibimos llamada informando de la incidencia</td>
                                    <td class="text-center">
                                        <table>
                                            <tr>
                                                <td><button type="button" id="botonMantenimiento" class="btn" style="background-color:transparent"><i class="fa fa-edit" style="font-size:24px;color:blue;"></i></button></td>
                                                <td><button type="button" id="botonMantenimiento" class="btn" style="background-color:transparent"><i class="fa fa-trash" style="font-size:24px;color:red;"></i></button></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- FIN ACCIONES AÑADIDAS -->


            </div> <!-- fin bloque central inicio bloque lateral -->
            <!-- BLOQUE LATERAL -->

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <br>
                <div class="panel panel-primary tamanoPanel">
                    <!--<div class="panel-heading" align="center"><img src="assets/images/imgs/botonEstacionSinVigilante.gif" alt=""/></div>-->
                    <div class="panel-heading" align="center">
                        <div  class="text-center"><a data-toggle="tooltipV" title="CON VIGILANTE"><img src="@Url.Content("~/assets/images/policia.png")" alt="Con vigilante" /></a></div>
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table>

                                <tr>
                                    <td><strong>Fecha y Hora:&nbsp;&nbsp;</strong></td>
                                    <td>Viernes de 6:00 a 14:00</td>
                                </tr>
                                <tr>
                                    <td><strong>Servicio:&nbsp;&nbsp;</strong></td>
                                    <td>Alonso Martinez</td>
                                </tr>
                                <tr>
                                    <td><strong>RTF:&nbsp;&nbsp;</strong></td>
                                    <td>55288</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div> <!-- FIN CALENDARIO -->
                <div class="panel panel-primary tamanoPanel">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table" style="font-size:12px;">
                                <tr>
                                    <th colspan="3" class="text-center" style="background-color:#999999; ">AVISOS POR AVERIA</th>
                                </tr>
                                <tr>
                                    <td>NUM.INCIDENCIA</td>
                                    <td>ELEMENTO</td>
                                    <td>DESCRIPCIÓN</td>
                                </tr>
                                <tr>
                                    <td>2451234</td>
                                    <td>Camaras de la 18</td>
                                    <td>Servidor no disponible</td>
                                </tr>
                            </table>
                            <table class="table" style="font-size:12px;">
                                <tr>
                                    <th colspan="3" class="text-center" style="background-color:#999999;">CALENDARIO OPERATIVAS</th>
                                </tr>
                                <tr>
                                    <td>No hay operativas previstas</td>
                                </tr>
                            </table>
                            <table class="table" style="font-size:12px;">
                                <tr>
                                    <th colspan="3" class="text-center" style="background-color:#999999; ">PK DEPENDENCIA</th>
                                </tr>
                                <tr>
                                    <td class="text-center">Piñon Anden I</td>
                                </tr>
                                <tr>
                                    <td class="text-center">Piñon Anden II</td>
                                </tr>
                            </table>
                            <table class="table" style="font-size:10px;">
                                <tr>
                                    <th colspan="5" class="text-center" style="background-color:#999999; font-size:12px;">ACCESOS</th>
                                </tr>
                                <tr>
                                    <td>TIPO</td>
                                    <td>TÉLEFONO</td>
                                    <td>ACCESO</td>
                                    <td>UBICACIÓN</td>
                                    <td>CARACT</td>
                                </tr>
                                <tr>
                                    <td>Estación</td>
                                    <td>60519</td>
                                    <td>Principal</td>
                                    <td>Paseo de la Esperanza 2</td>
                                    <td>Principal</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="panel panel-primary tamanoPanel" style="display:none;" id="panel_acciones">
                    <!--<div class="panel-heading" align="center"><img src="assets/images/imgs/botonEstacionSinVigilante.gif" alt=""/></div>-->
                    <div class="panel-heading" align="center"></div>
                    <div class="panel-body">
                        <div class="table-responsive scroll_tablaRecursos">
                            <table class="table " id='tabla_recursos' style="background-color:#f4f6f6; font-size:12px;">
                                <tr>
                                    <th>RECURSOS</th>
                                    <th>ACT.</th>
                                    <th>LLEG.</th>
                                    <th>FIN.</th>
                                    <th>CAN.</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            <label>VSF</label>
                                            <a><i class="glyphicon glyphicon-remove" style="color:red"></i></a>
                                            <input type="text" class="tamanoInputRecursosLateral">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="checkbox" value="" id="chk_activacionVSF">
                                            <input type="text" class="tamanoInputRecursosLateral" id="input_hora_activacionVSF">

                                            <input type="text" class="tamanoInputRecursosLateral" id="input_fecha_activacionVSF">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="checkbox" value="" id="chk_llegadaVSF">
                                            <input type="text" class="tamanoInputRecursosLateral " id="input_hora_llegadaVSF">
                                            <input type="text" class="tamanoInputRecursosLateral " id="input_fecha_llegadaVSF">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="checkbox" value="" id="chk_finVSF">
                                            <input type="text" class="tamanoInputRecursosLateral " id="input_hora_finVSF">
                                            <input type="text" class="tamanoInputRecursosLateral " id="input_fecha_finVSF">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="checkbox" value="" id="chk_cancelacionVSF">
                                            <input type="text" class="tamanoInputRecursosLateral" id="input_hora_cancelacionVSF">
                                            <input type="text" class="tamanoInputRecursosLateral" id="input_fecha_cancelacionVSF">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            <label>091</label>
                                            <a><i class="glyphicon glyphicon-remove" style="color:red"></i></a>
                                            <input type="text" class="tamanoInputRecursosLateral">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="checkbox" value="" id="chk_activacion091">
                                            <input type="text" class="tamanoInputRecursosLateral" id="input_hora_activacion091">
                                            <input type="text" class="tamanoInputRecursosLateral" id="input_fecha_activacion091">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="checkbox" value="" id="chk_llegada091">
                                            <input type="text" class="tamanoInputRecursosLateral" id="input_hora_llegada091">
                                            <input type="text" class="tamanoInputRecursosLateral" id="input_fecha_llegada091">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="checkbox" value="" id="chk_fin091">
                                            <input type="text" class="tamanoInputRecursosLateral" id="input_hora_fin091">
                                            <input type="text" class="tamanoInputRecursosLateral" id="input_fecha_fin091">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="checkbox" value="" id="chk_cancelacion091">
                                            <input type="text" class="tamanoInputRecursosLateral" id="input_hora_cancelacion091">
                                            <input type="text" class="tamanoInputRecursosLateral" id="input_fecha_cancelacion091">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            <label>092</label>
                                            <a><i class="glyphicon glyphicon-remove" style="color:red"></i></a>
                                            <input type="text" class="tamanoInputRecursosLateral">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="checkbox" value="" id="chk_activacion092">
                                            <input type="text" class="tamanoInputRecursosLateral " id="input_hora_activacion092">

                                            <input type="text" class="tamanoInputRecursosLateral" id="input_fecha_activacion092">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="checkbox" value="" id="chk_llegadaVSF">
                                            <input type="text" class="tamanoInputRecursosLateral " id="input_hora_llegada092">
                                            <input type="text" class="tamanoInputRecursosLateral " id="input_fecha_llegada092">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="checkbox" value="" id="chk_finVSF">
                                            <input type="text" class="tamanoInputRecursosLateral " id="input_hora_fin092">
                                            <input type="text" class="tamanoInputRecursosLateral " id="input_fecha_fin092">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="checkbox" value="" id="chk_cancelacionVSF">
                                            <input type="text" class="tamanoInputRecursosLateral" id="input_hora_cancelacion092">
                                            <input type="text" class="tamanoInputRecursosLateral" id="input_fecha_cancelacion092">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            <label>093</label>
                                            <a><i class="glyphicon glyphicon-remove" style="color:red"></i></a>
                                            <input type="text" class="tamanoInputRecursosLateral">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="checkbox" value="" id="chk_activacion093">
                                            <input type="text" class="tamanoInputRecursosLateral " id="input_hora_activacion093">

                                            <input type="text" class="tamanoInputRecursosLateral" id="input_fecha_activacion093">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="checkbox" value="" id="chk_llegadaVSF">
                                            <input type="text" class="tamanoInputRecursosLateral " id="input_hora_llegada093">
                                            <input type="text" class="tamanoInputRecursosLateral " id="input_fecha_llegada093">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="checkbox" value="" id="chk_finVSF">
                                            <input type="text" class="tamanoInputRecursosLateral " id="input_hora_fin093">
                                            <input type="text" class="tamanoInputRecursosLateral " id="input_fecha_fin093">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="checkbox" value="" id="chk_cancelacionVSF">
                                            <input type="text" class="tamanoInputRecursosLateral" id="input_hora_cancelacion093">
                                            <input type="text" class="tamanoInputRecursosLateral" id="input_fecha_cancelacion093">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table style="width:1px;">
                                <tr>

                                    <td>
                                        <select class="form-control" name="selectRecursosLateral" id="selectRecursosLateral">
                                            <option value="0">Seleccione..</option>
                                            <option value="091">091</option>
                                            <option value="092">092</option>
                                            <option value="Bomberos">Bomberos</option>
                                            <option value="Samur">Samur</option>
                                            <option value="PCS">PCS</option>
                                            <option value="CS">CS</option>
                                            <option value="SC">SC</option>
                                        </select>
                                    </td>
                                    <td>&nbsp;&nbsp;</td>
                                    <td><input type="text" class="form-control tamanoInputHoras" id="input_add_recurso"></td>
                                    <td>&nbsp;&nbsp;</td>

                                </tr>
                                <tr>
                                    <td style="padding-bottom:10px;padding-top:10px;"><button onclick="addMasRecursos()" class="btn button-primario">Añadir mas recursos</button></td>
                                </tr>
                            </table>
                            <table class="tablaAccionesAutomaticas_botones" style="font-size:10px;width:1px;">
                                <tr>
                                    <td></td>
                                    <td><input type="submit" id="botonMantenimiento" class="btn button-primario" value="Aceptar"></td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td><input type="submit" id="botonMantenimiento" class="btn button-primario" value="Cancelar"></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div> <!--/. CALENDARIO -->
            </div>

        </div> 	 			<!-- FIN DEL BLOQUE LATERAL -->
    </div> <!-- fin columna 21-->
</div>
<script>
			$(document).ready(function(){

			   $("#optmenu").css("background-color", "#000000");

			   $("input:checkbox").click(function(){

					var chk_selected = $(this);
					var name_chk_hour_selected = '#input_hora_' + chk_selected.attr("id").substring(4,chk_selected.attr("id").length);
					var name_chk_date_selected = '#input_fecha_' + chk_selected.attr("id").substring(4,chk_selected.attr("id").length);
					if(chk_selected.is(":checked")){
						  getFecha(name_chk_date_selected);
						  getHora(name_chk_hour_selected);
					}else{
						 $(name_chk_hour_selected).val('');
						 $(name_chk_date_selected).val('');
					}
			    });
				$('#chkDenuncia').click(function() {
				if ($(this).is(':checked')) {
					$("#btnInfAdicional").show();
				}
				else {
				   $("#btnInfAdicional").hide();
				}
			   });
			   $("#dependencia").change(function () {
					$("#mensajeDepedencia").show();
				 });

               $('[data-toggle="tooltip"]').tooltip({
			            placement : 'top'
	           	});
						$('[data-toggle="tooltip1"]').tooltip({
			            placement : 'left'
	           	});

						$('[data-toggle="tooltip2"]').tooltip({
								placement : 'left'
						});



						$('[data-toggle="tooltip3"]').tooltip({
								placement : 'right'
						});
                $('a[data-toggle="tooltipV"]').tooltip({
					animated: 'fade',
					placement: 'bottom',
					html: true
				});

		   });
		 // El boton se muestra cuando el usuario baje 20 px;
			window.onscroll = function() {scrollFunction()};



			function scrollFunction() {
				if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
					document.getElementById("myBtn").style.display = "block";
				} else {
					document.getElementById("myBtn").style.display = "none";
				}
			}

			// Cuando haga click sobre el boton sube al top de la pagina
			function topFunction() {
				document.body.scrollTop = 0;
				document.documentElement.scrollTop = 0;
			}
			function getHora(campoHora) {
			 /* par las horas */

			        var d = new Date(),
					h = d.getHours(),
					m = d.getMinutes();
					if(h < 10) h = '0' + h;
					if(m < 10) m = '0' + m;
				   $(campoHora).val(h + ":" + m);
		 	}

			function getFecha (campoFecha) {
			               // alert ($(campoFecha).attr('id'));
			                var now = new Date();
					    	var day = ("0" + now.getDate()).slice(-2);
							var month = ("0" + (now.getMonth() + 1)).slice(-2);
							var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
							//alert(now.getFullYear()+"-"+(month)+"-"+(day)) ;
						    $(campoFecha).val(today);
			}

			function addPanelAccionesAutomaticas() {
			      $("#panel_acciones").show();
			}
			function addMasRecursos() {
					var html = '<tr><td><div><label>' + $("#selectRecursosLateral").val() + '</label><a><i class="glyphicon glyphicon-remove" style="color:red"></i></a><input type="text" class="tamanoInputRecursosLateral"></div></td><td><div><input type="checkbox" value=""  id="chk_activacion091" ><input type="text" class="tamanoInputRecursosLateral" id="input_hora_activacion091" ><input type="text" class="tamanoInputRecursosLateral" id="input_fecha_activacion091"></div></td><td><div><input type="checkbox" value="" id="chk_llegada091"><input type="text" class="tamanoInputRecursosLateral" id="input_hora_llegada091" ><input type="text" class="tamanoInputRecursosLateral"  id="input_fecha_llegada091"></div></td><td><div><input type="checkbox" value="" id="chk_fin091"><input type="text" class="tamanoInputRecursosLateral"  id="input_hora_fin091" ><input type="text" class="tamanoInputRecursosLateral" id="input_fecha_fin091"></div></td><td><div><input type="checkbox" value="" id="chk_cancelacion091"><input type="text" class="tamanoInputRecursosLateral" id="input_hora_cancelacion091" ><input type="text" class="tamanoInputRecursosLateral" id="input_fecha_cancelacion091"></div></td></tr>'
                    $('#tabla_recursos > tbody ').append(html);
			}

			function seleccionarRecurso(recurso) {
			  //alert(recurso.id);
			  $("#selectRecursos option[value='" + recurso.id +"']").prop('selected', true);

			}

			function seleccionarAcciones(accion) {
			  //alert(accion.id);
			  $("#selectAcciones option[value='" + accion.id +"']").prop('selected', true);

			}

			function mostrarBotonInfAdicional(chkDenuncia) {


			}

			function selectComboAgresion (combo){
			      if ($(combo).is(':checked')) {

					   $("#selectAgresion").show();
					}
					else {
					  $("#selectAgresion").hide();
				}
			}
		   function selectComboAmenazas (combo){
			      if ($(combo).is(':checked')) {

					   $("#selectAmenazas").show();
					}
					else {
					  $("#selectAmenazas").hide();
				}
			}


</script>     

