﻿
@{
    ViewBag.Title = "MantenimientoUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GEMINYS.WEB.Models.UsuarioModel
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br>
    <!-- INICIO BUSCADOR -->
    <div class="panel panel-primary">
        <div class="panel-heading">Usuario</div>
        <div class="panel-body">
            <div class="table-responsive">
                @using (Html.BeginForm("BuscarUsuarios", "Usuario", FormMethod.Post))
                {
                    <div class="table-responsive">

                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-right">
                            <label>Nombre</label>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-left">
                            <input type="text" id="nombre" name="nombre" value="@Model.nombre" class="form-control">
                        </div>

                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-right">
                            <label>Apellido 1</label>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-right">
                            <input type="text" id="apellido1" name="apellido1" value="@Model.apellido1" class="form-control">
                        </div>

                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-right">
                            <label>Apellido 2</label>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-right">
                            <input type="text" id="apellido2" name="apellido2"  value="@Model.apellido2" class="form-control">
                        </div>

                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-right">
                            <label>DNE</label>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-left">
                            <input type="text" name="dne" class="form-control" value="@Model.dne">
                        </div>

                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-right">
                            <label>Estado</label>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-left">
                            <select class="form-control" name="activo" id="activo" value="@Model.activo">
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                            </select>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-left">
                            <button type="submit" id="botonMantenimiento" class="btn button-primario hover_btn" value="Buscar usuario">Buscar usuario</button>
                            <button type="button" id="botonMantenimiento" class="btn button-primario hover_btn" data-toggle="modal" data-target="#modalCrearUsuario" value="Crear usuario">Crear usuario</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div> <!-- FIN BUSCADOR -->
    <!-- INICIO PANEL USUARIOS -->
    <div class="panel panel-primary">
        <div class="panel-heading">Usuarios de Metro</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped " id="tabla_usuarios" name ="tabla_usuarios">
                    <tr class="fondoGris">
                        <th colspan="2"></th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Nombre</th>
                        <th>DNE</th>
                        <th>Telefono</th>
                        <th>Empresa</th>
                        <th>Perfil</th>
                        <th>TIP</th>
                        <th>Activo</th>
                        <th></th>
                        <th></th>
                    </tr>
                   
                    @if (Model.listadoUsuarios != null)
                    {
                        if (Model.listadoUsuarios.Count() == 0)
                        {
                            <tr><td colspan="13" class="text-center" STYLE="color:orange;">NO SE ENCONTRARON USUARIOS SEGÚN EL CRITERIO INDICADO</td></tr>
                        }
                        else
                        {
                            foreach (var usuario in Model.listadoUsuarios)
                            {
                                <tr>
                                    <td colspan="2" id="id_usuario_@usuario.idUsuario"><input type="hidden" id="@usuario.idUsuario" value="@usuario.idUsuario" /></td>
                                    <td id="apellido1_@usuario.idUsuario">@usuario.apellido1</td>
                                    <td id="apellido2_@usuario.idUsuario">@usuario.apellido2</td>
                                    <td id="nombre_@usuario.idUsuario">@usuario.nombre</td>
                                    <td id="dne_@usuario.idUsuario">@usuario.dne</td>
                                    <td id="telefono_@usuario.idUsuario">@usuario.telefono</td>
                                    <td id="nombreEmpresa_@usuario.idUsuario">@usuario.nombreEmpresa</td>
                                    <td id="nombrePerfil_@usuario.idUsuario">@usuario.nombrePerfil</td>
                                    <td id="tip_@usuario.idUsuario">@usuario.tip</td>
                                    @if ((bool)@usuario.activo)
                                    {
                                        <td id="iconoEstado_@usuario.idUsuario"><i class="glyphicon glyphicon-ok" style="color:green"></i></td>
                                        <td style="width:1px;"><button id="@usuario.idUsuario" class="btn" onclick="rellenarCajas(this)" type="button" data-toggle="modal" data-target="#modalModificarUsuario" value="Editar usuario" style="background-color:transparent"> <i class="fa fa-edit" style="font-size:24px;color:blue;"></i></button></td>
                                        <td style="width:1px;" id="up_@usuario.idUsuario"><button type="button" id="btnD_@usuario.idUsuario" onclick="cambiarEstadoUsuario(this)" data-toggle="tooltipDesActivar" title="Desactivar usuario" data-original-title="Desactivar usuario" style="background-color:transparent" class="btn"><i class="glyphicon glyphicon-download" style="color:orange"></i></button></td>
                                    }
                                    else
                                    {
                                        <td id="iconoEstado_@usuario.idUsuario"><i class="glyphicon glyphicon-remove" style="color:red"></i></td>
                                        <td style="width:1px;"><button id="@usuario.idUsuario" class="btn" onclick="rellenarCajas(this)" type="button" data-toggle="modal" data-target="#modalModificarUsuario" value="Editar usuario" style="background-color:transparent"> <i class="fa fa-edit" style="font-size:24px;color:blue;"></i></button></td>
                                        <td style="width:1px;" id="up_@usuario.idUsuario"><button id="btnA_@usuario.idUsuario" type="button" data-toggle="tooltipActivar" onclick="cambiarEstadoUsuario(this)" title="Activar usuario" data-original-title="Activar usuario" style="background-color:transparent" class="btn"><i class="glyphicon glyphicon-upload" style="color:orange"></i></button></td>
                                    }
                                </tr>
                            }
                        }
                    }
                </table>
            </div>
        </div>
    </div>
    <!-- FIN PANEL USUARIOS -->
</div> 

<!-- Modal CREAR Usuario -->
<div class="modal fade " id="modalCrearUsuario" role="dialog">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Alta de usuario</h4>
            </div>
            <div class="modal-body ">
                <div class="form-group row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
                        <label>Nombre *</label>
                        <!-- <span class="glyphicon glyphicon-asterisk {font-size: 2em;}" data-toggle="tooltip" data-original-title="Falta rellenar"></span> -->
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left " >
                        <input type="text" id="nombreAlta"  name="nombreAlta" class="form-control "><span id="errorNombreAlta" style="display:none;color:red">Campo obligatorio</span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
                        <label>Apellido 1 *</label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                        <input type="text" id="apellido1Alta" name="apellido1Alta" class="form-control"><span id="errorApellido1Alta" style="display:none;color:red">Campo obligatorio</span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
                        <label>Apellido 2</label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                        <input type="text" id="apellido2Alta" name="apellido2Alta" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
                        <label>DNE *</label>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
                        <input type="text" id = "DNEAlta" name="DNEAlta" class="form-control"><span id="errorDNEAlta" style="display:none;color:red">Campo obligatorio</span>
                    </div>
                  
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
                        <label>TIP</label>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
                        <input type="text" id ="tipAlta" name="tipAlta" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
                        <label>Teléfono</label>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
                        <input type="text" id="telefonoAlta" name="telefonoAlta" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
                        <label>Empresa *</label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6text-left">
                        <select class="form-control" name="empresaAlta" id="empresaAlta">
                            <option value="0">Seleccione...</option>
                        </select>
                        <span id="errorEmpresaAlta" style="display:none;color:red">Seleccione una empresa</span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
                        <label>Perfil *</label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                        <select class="form-control" name="perfilAlta" id="perfilAlta">
                            <option value="0">Seleccione...</option>
                        </select>
                        <span id="errorPerfilAlta" style="display:none;color:red">Seleccione un perfil</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id ="approve-btn"class="btn button-primario">Aceptar</button>
                <button type="button" class="btn button-primario" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal Editar Usuario -->
<div class="modal fade" id="modalModificarUsuario" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modificar usuario</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="idUsuarioMOD" class="form-control " value="" style="background-color:#fff8e1;" >
                <div class="form-group row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
                        <label>Nombre *</label>
                        <!-- <span class="glyphicon glyphicon-asterisk {font-size: 2em;}" data-toggle="tooltip" data-original-title="Falta rellenar"></span> -->
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left ">
                        <input type="text" id="nombreMOD"  class="form-control " style="background-color:#fff8e1;"><span id="errorNombreMOD" style="display:none;color:red">Campo obligatorio</span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
                        <label>Apellido 1 *</label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                        <input type="text" id="apellido1MOD"  class="form-control" style="background-color:#fff8e1;"><span id="errorApellido1MOD" style="display:none;color:red">Campo obligatorio</span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
                        <label>Apellido 2</label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                        <input type="text" id="apellido2MOD" class="form-control" style="background-color:#fff8e1;">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
                        <label>DNE *</label>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
                        <input type="text" id="DNEMOD"  class="form-control" style="background-color:#fff8e1;"><span id="errorDNEMOD" style="display:none;color:red">Campo obligatorio</span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
                        <label>TIP</label>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
                        <input type="text" id="tipMOD" class="form-control" style="background-color:#fff8e1;">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
                        <label>Teléfono</label>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
                        <input type="text" id="telefonoMOD"  class="form-control" style="background-color:#fff8e1;">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
                        <label>Empresa *</label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6text-left">
                        <select class="form-control"  id="empresaMOD" style="background-color:#fff8e1;">
                            <option value="0">Seleccione...</option>
                        </select>
                        <span id="errorEmpresaMOD" style="display:none;color:red">Seleccione una empresa</span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
                        <label>Perfil *</label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                        <select class="form-control" id="perfilMOD" style="background-color:#fff8e1;">
                            <option value="0">Seleccione...</option>
                        </select>
                        <span id="errorPerfilMOD" style="display:none;color:red">Seleccione un perfil</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id ="modificar-btn" class="btn button-primario">Modificar</button>
                <button type="button" class="btn button-primario" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>

<!-- ZONA JQUERY -->
<script>

  function rellenarCajas(botonPulsado) {

        $('#nombreMOD').val($('#nombre_' + botonPulsado.id).html());
        $('#apellido1MOD').val($('#apellido1_' + botonPulsado.id).html());
        $('#apellido2MOD').val($('#apellido2_' + botonPulsado.id).html());
        $('#DNEMOD').val($('#dne_' + botonPulsado.id).html());
        $('#tipMOD').val($('#tip_' + botonPulsado.id).html());
        $('#telefonoMOD').val($('#telefono_' + botonPulsado.id).html());
        var nombreEmpresa = $('#nombreEmpresa_' + botonPulsado.id).html();
        var nombrePerfil = $('#nombrePerfil_' + botonPulsado.id).html();
        $("#empresaMOD option:contains(" + nombreEmpresa + ")").attr('selected', true);
        $("#perfilMOD option:contains(" + nombrePerfil + ")").attr('selected', true);
        $("#idUsuarioMOD").val(botonPulsado.id);
        $("#errorNombreMOD").hide();
        $("#errorApellido1MOD").hide();
        $("#errorDNEMOD").hide();
        $("#errorEmpresaMOD").hide();
        $("#errorPerfilMOD").hide();


  }

  function ValidarCamposUsuario(campo) {
      var validacionOK = true
      valor = $("#nombre" + campo).val()
      if (valor == null || valor.length == 0 || /^\s+$/.test(valor)) {
          $("#errorNombre" + campo).show();
          validacionOK = false;
      }
      else {
          $("#errorNombre" + campo).hide();
      }
      valor = $("#apellido1" + campo).val();

      if (valor == null || valor.length == 0 || /^\s+$/.test(valor)) {
          $("#errorApellido1" + campo).show();
          validacionOK = false;
      }
      else {
          $("#errorApellido1" + campo).hide();
      }

      valor = $("#DNE" + campo).val();

      if (valor == null || valor.length == 0 || /^\s+$/.test(valor)) {
          $("#errorDNE" + campo).show();
          validacionOK = false;
      }
      else {
          $("#errorDNE" + campo).hide();
      }

      valor = $('#empresa' + campo).val();

      if (valor == 0) {
          $("#errorEmpresa" + campo).show();
          validacionOK = false;
      }
      else {
          $("#errorEmpresa" + campo).hide();
      }
      valor = $('#perfil' + campo).val();

      if (valor == 0) {
          $("#errorPerfil" + campo).show();
          validacionOK = false;
      }
      else {
          $("#errorPerfil" + campo ).hide();
      }


      return validacionOK;
  }

  function LimpiarCamposAlta() {
      $('#apellido1Alta').val("");
      $('#apellido2Alta').val("");
      $('#nombreAlta').val("");
      $('#DNEAlta').val("");
      $("#empresaAlta").val("0");
      $('#perfilAlta').val("0");
      $('#tipAlta').val("");
      $('#telefonoAlta').val("");
      $("#errorNombreAlta").hide();
      $("#errorApellido1Alta").hide();
      $("#errorDNEAlta").hide();
      $("#errorEmpresaAlta").hide();
      $("#errorPerfilAlta").hide();
  }

  function cambiarEstadoUsuario(usuario) {

      var operacion = usuario.id.substr(3, 1);
      var idUsuario = usuario.id.substr(5);
      console.log(idUsuario);
      $.ajax({
          type: 'GET',
          url: '@Url.Action("ActivarDesactivarUsuario", "Usuario")',
          dataType: 'json',
          data: {
              'idUsuario': idUsuario,
              'operacion': operacion
          },
          success: function (data) {
              if (data) {
                  if (operacion == 'D') {
                      $('#iconoEstado_' + idUsuario).html("<i class='glyphicon glyphicon-remove' style='color:red'></i>");
                      $('#up_' + idUsuario).html("<button type='button' id='btnA_" + idUsuario + "' onclick='cambiarEstadoUsuario(this)' data-toggle='tooltipActivar' title='Activar usuario' data-original-title='Activar usuario' style='background-color:transparent' class='btn'><i class='glyphicon glyphicon-upload' style='color:orange'></i></button>");
                      alert("USUARIO DESACTIVADO");
                  }
                  else {
                      $('#iconoEstado_' + idUsuario).html("<i class='glyphicon glyphicon-ok' style='color:green'></i>");
                      $('#up_' + idUsuario).html("<button type='button' id='btnD_" + idUsuario + "' onclick='cambiarEstadoUsuario(this)' data-toggle='tooltipDesActivar' title='Desactivar usuario' data-original-title='Desactivar usuario' style='background-color:transparent' class='btn'><i class='glyphicon glyphicon-download' style='color:orange'></i></button>");
                      alert("USUARIO ACTIVADO");
                  }
              }
              else {
                  alert("ERROR AL CAMBIAR EL ESTADO DEL USUARIO");
              }

          },
          error: function (emp) {
              alert('SE PRODUJO UN ERROR EN LA ACTIVACION DEL USUARIO');
              $('#modalCrearUsuario').modal('hide')
          }
      });

  }

  $(function () {

        $('#approve-btn').click(function () {
            if (ValidarCamposUsuario("Alta")) {
                $.ajax({
                     type: 'GET',
                     url: '@Url.Action("AltaUsuario", "Usuario")',
                     dataType: 'json',
                     data: {
                         'nombre': $('#nombreAlta').val(), 'apellido1': $('#apellido1Alta').val(), 'apellido2': $('#apellido2Alta').val(), 'dne': $('#DNEAlta').val(),
                         'tip': $('#tipAlta').val(), 'empresa': $('#empresaAlta').val(), 'perfil': $('#perfilAlta').val(), 'telefono': $('#telefonoAlta').val()
                     },
                     success: function (data) {
                         if (data) {
                            var usuarioInsertado = "<tr>" +
                                                     "<td colspan='2'></td>" +
                                                     "<td id='apellido1_" + $('#DNEAlta').val() + "'>"  + $('#apellido1Alta').val() + "</td>" +
                                                     "<td id='apellido2_" + $('#DNEAlta').val() + "'>" + $('#apellido2Alta').val() + "</td>" +
                                                     "<td id='nombre_" + $('#DNEAlta').val() + "'>" + $('#nombreAlta').val() + "</td>" +
                                                     "<td id='dne_" + $('#DNEAlta').val() + "'>" + $('#DNEAlta').val() + "</td>" +
                                                     "<td id='telefono_" + $('#DNEAlta').val() + "'>" + $('#telefonoAlta').val() + "</td>" +
                                                     "<td id='nombreEmpresa_" + $('#DNEAlta').val() + "'>" + $("#empresaAlta option:selected").text() + "</td>" +
                                                     "<td id='nombrePerfil_" + $('#DNEAlta').val() + "'>" + $("#perfilAlta option:selected").text() + "</td>" +
                                                     "<td id='tip_" + $('#DNEAlta').val() + "'>" + $('#tipAlta').val() + "</td>" +
                                                     "<td><i class='glyphicon glyphicon-ok' style='color:green'></i></td>" +
                                                     "<td><button id = '" + $('#DNEAlta').val() + "'style='background-color:transparent' class='btn' type='button' data-toggle='modal' data-target='#modalModificarUsuario' onclick='rellenarCajas(this)'><i class='fa fa-edit' style='font-size:24px;color:blue;'></i></button></td>" +
                                                     " <td><button style='background-color:transparent' class='btn' type='button' data-toggle='tooltip4' onclick='activarUsuario(this)' data-original-title='Desactivar usuario'><i class='glyphicon glyphicon-download' style='color:orange'></i></button></td></tr>'";
                             $('#tabla_usuarios').append(usuarioInsertado);
                             LimpiarCamposAlta();
                             alert("USUARIO CREADO");
                             $('#modalCrearUsuario').modal('hide')
                         }
                         else {
                             alert("EL USUARIO YA EXISTE CON EL DNE INDICADO");
                             $('#modalCrearUsuario').modal('hide')
                         }

                     },
                     error: function (emp) {
                         alert('SE PRODUJO UN ERROR EN LA CREACION DEL USUARIO');
                         $('#modalCrearUsuario').modal('hide')
                     }
                 });
            }

        });
    });


   $(function () {
       $('#modificar-btn').click(function () {

            if (ValidarCamposUsuario("MOD")) {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("ModificacionUsuario", "Usuario")',
                    dataType: 'json',
                    data: {
                        'nombre': $('#nombreMOD').val(), 'apellido1': $('#apellido1MOD').val(), 'apellido2': $('#apellido2MOD').val(), 'dne': $('#DNEMOD').val(),
                        'tip': $('#tipMOD').val(), 'empresa': $('#empresaMOD').val(), 'perfil': $('#perfilMOD').val(), 'telefono': $('#telefonoMOD').val()
                    },
                    success: function (data) {
                        if (data) {
                              var idUsuario = $('#idUsuarioMOD').val();
                              $('#apellido1_' + idUsuario).html($('#apellido1MOD').val());
                              $('#apellido2_' + idUsuario).html($('#apellido2MOD').val());
                               $('#nombre_' + idUsuario).html($('#nombreMOD').val());
                               $('#dne_' + idUsuario).html($('#DNEMOD').val());
                               $('#telefono_' + idUsuario).html($('#telefonoMOD').val());
                               $('#dne_' + idUsuario).html($('#DNEMOD').val());
                               $('#nombreEmpresa_' + idUsuario).html($("#empresaMOD option:selected").text());
                               $('#nombrePerfil_' + idUsuario).html($("#perfilMOD option:selected").text());
                               $('#tip_' + idUsuario).html($('#tipMOD').val());
                               alert("USUARIO MODIFICADO");
                               $('#modalModificarUsuario').modal('hide')
                        }
                        else {
                            alert("EL DNE INDICADO NO EXISTE");
                            $('#modalModificarUsuario').modal('hide')
                        }

                    },
                    error: function (emp) {
                        alert('SE PRODUJO UN ERROR EN LA MODIFICACION DEL USUARIO');
                        $('#modalModificarUsuario').modal('hide')
                    }
                });
            }

        });
    });

    $(document).ready(function () {

        $('[data-toggle="tooltipActivar"]').tooltip();
        $('[data-toggle="tooltipDesActivar"]').tooltip();

        $.ajax({
            type: 'GET',
            url: '@Url.Action("ListaEmpresas", "Usuario")',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    $('#empresaAlta')
                        .append($("<option></option>")
                                   .attr("value", data[i].idEmpresa)
                                   .text(data[i].empresa));
                    $('#empresaMOD')
                       .append($("<option></option>")
                                  .attr("value", data[i].idEmpresa)
                                  .text(data[i].empresa));
                }
            },
            error: function (emp) {
                alert('error');

            }
        });

        $.ajax({
            type: 'GET',
            url: '@Url.Action("ListaPerfiles", "Usuario")',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    $('#perfilAlta')
                        .append($("<option></option>")
                                   .attr("value", data[i].idPerfil)
                                   .text(data[i].nombrePerfil));
                    $('#perfilMOD')
                       .append($("<option></option>")
                                  .attr("value", data[i].idPerfil)
                                  .text(data[i].nombrePerfil));
                }
            },
            error: function (emp) {
                alert('error');

            }
        });

    })



</script>

