﻿
@{
    ViewBag.Title = "UsuariosConectados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GEMINYS.WEB.Models.UsuarioConectadoModel
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br>

    <!-- INICIO LISTADO DE TRABAJOS INTERNOS PENDIENTES -->
    <div class="panel panel-primary">

        <div class="panel-heading">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">LISTADO USUARIOS CONECTADOS EN EL DÍA</div>
            <input type="date" id="fechaAccionManual" class="form-control tamanoInputFechas" onClick="getFecha(this);"  value="@DateTime.Now.ToShortDateString() ">
        </div>
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-striped" id="tabla_usuariosConexion">
                   
                    @if (Model.listadoUsuarios.Count() > 0)
                    {
                        <tr>
                            <th style="width:10%" class="text-left">APELLIDOS 1</th>
                            <th style="width:10%" class="text-left">APELLIDOS 2</th>
                            <th style="width:12%" class="text-left">NOMBRE</th>
                            <th style="width:10%" class="text-left">USUARIO</th>
                            <th style="width:10%" class="text-center">FECHA</th>
                            <th style="width:8%" class="text-center">INICIO CONEXIÓN</th>
                        
                        </tr>
                        foreach (var usuario in Model.listadoUsuarios)
                        {
                            <tr class="text-left">
                                <td>@usuario.Usuario.apellido1</td>
                                <td>@usuario.Usuario.apellido2</td>
                                <td>@usuario.Usuario.nombre</td>
                                <td>@usuario.Usuario.nombre</td>
                                <td class="text-center">@usuario.fechaInicio.Date.ToShortDateString()</td>
                                <td class="text-center">@usuario.fechaInicio.Hour<span>:</span>@usuario.fechaInicio.Minute</td>
                            </tr>

                        }
                    }
                    else {
                        <tr><td colspan="6"  class="text-center" STYLE="color:orange;">NO SE HAN REGISTRADO CONEXIONES DE USUARIOS EN LA FECHA INDICADA</td></tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div> 

<script type="text/javascript">
    $(document).ready(function () {
        getFecha(fechaAccionManual);

        fechaAccionManual.onchange = function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetUsuariosConectados", "Usuario")',
                dataType: 'json',
                data: { fecha: fechaAccionManual.value },
                success: function (data) {
                   
                    if (data.listadoUsuarios.length > 0) {
                        //$("#tabla_usuariosConexion tr:not(:first)").remove();
                        $("#tabla_usuariosConexion tr").remove();
                        var cabecera = "<tr><th style='width:10%' class='text-left'>APELLIDOS 1</th><th style='width:10%' class='text-left'>APELLIDOS 2</th><th style='width:12%' class='text-left'>NOMBRE</th><th style='width:10%' class='text-left'>USUARIO</th><th style='width:10%' class='text-center'>FECHA</th><th style='width:8%' class='text-center'>INICIO CONEXIÓN</th></tr>";
                        $('#tabla_usuariosConexion').append(cabecera);
                        for (var i = 0; i < data.listadoUsuarios.length; i++) {
                            console.log(data.listadoUsuarios[i].fechaInicio);
                            var fechaInicio = transformarFecha(data.listadoUsuarios[i].fechaInicio);
                            var   cadenaUsuariosSesion = "<tr class='text-left'>" +
                                                       "<td>" + data.listadoUsuarios[i].Usuario.apellido1 + "</td>" +
                                                       "<td>" + data.listadoUsuarios[i].Usuario.apellido2 + "</td>" +
                                                       "<td>" + data.listadoUsuarios[i].Usuario.nombre + "</td>" +
                                                       "<td>" + data.listadoUsuarios[i].Usuario.nombre + "</td>" +
                                                       "<td class='text-center'>" + fechaInicio + "</td>" +
                                                       "<td class='text-center'>" + data.listadoUsuarios[i].horaInicio + "<span>:</span>" + data.listadoUsuarios[i].minutoInicio + "</td>" +
                            console.log(cadenaUsuariosSesion);
                            $('#tabla_usuariosConexion').append(cadenaUsuariosSesion);
                        }

                    }
                    else {
                        $("#tabla_usuariosConexion tr").remove();
                        var cadenaSinUsuariosSesion = "<tr><td colspan='6'  class='text-center' STYLE='color:orange;'>NO SE HAN REGISTRADO CONEXIONES DE USUARIOS EN LA FECHA INDICADA</td></tr>"
                        $('#tabla_usuariosConexion').append(cadenaSinUsuariosSesion);
                    }
                },
                error: function (emp) {
                    alert('error');
                }
            });
        }
      });

    function getFecha(campoFecha) {

        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
         $(campoFecha).val(today);

    }

    function transformarFecha(fecha) {

        var fechaObtenida = new Date(parseInt(fecha.substr(6)));
        var dia;
        var mes;
        var fechaTransformada;
      
        if (fechaObtenida.getDate() > 0 && fechaObtenida.getDate() < 10) {
            dia = "0" + (fechaObtenida.getDate());
        }
        else {
            dia = fechaObtenida.getDate();
        }
        if (fechaObtenida.getMonth() > 0 && fechaObtenida.getMonth() < 10) {
            mes = "0" + (fechaObtenida.getMonth() +1 );
        }
        else {
            mes = (fechaObtenida.getMonth() + 1);
        }

        console.log(fechaObtenida.getHours());
        fechaTransformada = dia + "/" + mes + "/" + fechaObtenida.getFullYear();
        return fechaTransformada;
    }



</script>
