/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

    HTML GENERAL 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body, h1, h2, h3, h4, h5, h6, address, blockquote, dd, dl, hr, form, input
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px !important;
    background:#333;
    color:#eee;
    text-shadow:0 1px 1px #000;
}

.place-holder-text
{
    color:#999;
}

select
{
    padding:4px;
}

hr
{
    border-bottom: 1px solid #CCC;
    color: #FFF;
}

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active
{
  -moz-box-shadow: #ff9900 0 0 4px;
  -webkit-box-shadow: #ff99000 0 4px;
  box-shadow: 0 0 4px #ff9900;
}

.jsdisabled
{
    position:relative;
    margin:0 auto;
    padding-left:40px;
    width:400px;
    background:#ffff00 url(images/icons/ico-warning.png) 45px 5px no-repeat;
    border-left:1px solid #ebc700;
    border-right:1px solid #ebc700;
    border-bottom:1px solid #ebc700;
    border-bottom-right-radius:12px;
    border-bottom-left-radius:12px;
    -moz-border-bottom-right-radius:12px;
    -moz-border-bottom-left-radius:12px;
    -webkit-border-bottom-right-radius:12px;
    -webkit-border-bottom-left-radius:12px;
}

.jsdisabled p.warning
{
    display:block;
    width:300px;
    padding:10px;
    margin:0 auto;
    font-weight:bold;
    color:#000;
    font-size:1.2em;
}

.jsdisabled span.instruction
{
    width:200px;
    font-size:.80em;
    font-weight:normal;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

    LINKS

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

a
{
    color: #008bd1;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
    color: #008bd1;
    font-weight: bold;
}

a img
{
    border: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

    IMAGES

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

img
{
    border: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

    HEADINGS & TEXT

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

h1, h2, h3, h4, h5, h6
{

}

h2, h3
{
    font-size: 14px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

    SECTION HEADERS

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.section-title
{
    padding-bottom: 1px;
    margin-bottom: 10px;
    color: #fff;
    vertical-align: bottom;
    font-size: 14px;
    font-weight:normal;
    padding-top: 5px;
}

.section-title img
{
    vertical-align: middle;
    padding-bottom: 2px;
}

.section-header .title a
{
    text-decoration: none;
    font-size: 10px;
    font-weight:normal;
    color:#fff;
}


.section-header
{
    padding: 4px 4px 0 4px;
    margin-bottom: 50px;
    clear:both;
}

.section-header .title
{
    float: left;
    color: #fff;
    font-size: 14px;
    font-weight:normal;
    vertical-align: bottom;
    padding: 3px 5px;
    background:#000;
}

.section-header .title img
{
    vertical-align: middle;
    padding-bottom: 2px;
}

.section-header .options
{
    margin-left:10px;
    float: left;
}

.section-seperator
{
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d7d7d7;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

    TABLES

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

td
{
    vertical-align: middle;
}

td.fieldname
{
    font-size: 12px;
}

.table-container
{
}

.table-container .row
{
}

.table-container .row .item-name
{
    padding: 3px 10px 0px 0px;
    display: block;
    white-space: nowrap;
    padding-right: 10px;
    vertical-align: middle;
}

.table-container .row .adminData
{
    padding: 3px 0px 0px 0px;
    vertical-align: middle;
}

table.adminContent
{
    border-collapse: collapse;
    margin: 0px;
    width: 100%;
    vertical-align: middle;
    text-align: left;
}

table.adminContent td.adminTitle
{
    padding: 4px 4px 4px 4px;
}

table.adminContent td.adminData
{
    padding: 4px 4px 4px 4px;
}

td.adminTitle
{
    text-align: left;
    vertical-align: middle;
    width: 175px;
}

/*left margin must be changed to reflect new adminTitle width (+12px)*/
.form-button-container
{
    position:relative;
    margin:10px 0 15px 187px;
}

.button-container-top-left
{
    margin:0 0 10px 0;
}

.button-container-bottom-center
{
    margin: 10px 0;
    text-align:center;
}

.button-container-bottom-left
{
    margin: 10px 0;
    text-align:left;
}

table.adminTop
{
    vertical-align: top;
}

table.adminTop tbody
{
    vertical-align: top;
}
td.adminTop
{
    vertical-align: top;
}

td.auctionSettingTitle
{
    text-align: left;
    vertical-align: middle;
    width: 210px;
}

td.adminTitle img
{
    vertical-align: bottom;
    padding-right: 2px;
}

td.adminData
{
    text-align: left;
    vertical-align: middle;
}

tr.adminSeparator hr
{
    background-color: #D3D3D3;
    border: medium none;
    color: #D3D3D3;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

    TAB CONTROL

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.grey .ajax__tab_header
{
    background: url(images/tab-line.png) repeat-x bottom;
    font-size: 12px;
    display: block;
    cursor: pointer;
}

.grey .ajax__tab_header .ajax__tab_outer
{
    background: url(images/tab.png) no-repeat left top;
    border-color: #222;
    color: #222;
    padding-left: 10px;
    margin-right: 3px;
}

.grey .ajax__tab_header .ajax__tab_inner
{
    background: url(images/tab.png) no-repeat right top;
    border-color: #666;
    color: #666;
    padding: 3px 10px 2px 0px;
}

.grey .ajax__tab_hover .ajax__tab_inner
{
    color: #000;
}

.grey .ajax__tab_active .ajax__tab_outer
{
    background: url(images/tab.png) no-repeat 0pt -40px;
    border-bottom-color: #ffffff;
}

.grey .ajax__tab_active .ajax__tab_inner
{
    background: url(images/tab.png) no-repeat right -40px;
    color: #009FFF;
    border-color: #3a3a3a;
}

.grey .ajax__tab_body
{
    background-color: #fff;
    border: solid 1px #d7d7d7;
    border-top-width: 0;
    padding: 10px 10px 10px 10px;
}

.adminContent .adminInput, 
.adminContent .numericTextBox, 
.tabs .adminInput, 
.tabs .numericTextBox
{
    margin-right:5px;
}

.field-required
{
    color:#ffff00
}

/* selects use a different box model calculation? */
select.adminInput, select
{
    width: 258px;
}

select.adminListBox
{
    width:258px;
    height:80px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    color:#000;
}

/* asp.net renders checkboxes inside a span */
span.adminInput
{
    border-width: 0px;
}

.adminCalendar
{
    width: 120px !important;
}

.login-table-container .adminInput
{
    
}

label
{
    padding-left: 3px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

    ADMIN GRID VIEW

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.tablestyle
{
    margin:5px 0 15px 0;
    border: 1px solid #808080;
    background-color: #fafafa;
    margin-left: 0px;
    color: #232323;
    width: 100%;
    text-shadow:none;
}

.tablestyle td, .tablestyle th
{
    text-shadow:none;
}

.tablestyle td
{
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
}

.tablestyle td a
{
    text-decoration: none;
    border-bottom:1px #ff9900;
    font-weight:normal;
}

.altrowstyle
{
    background-color: #F4FAFF;
}

.selectedrowstyle
{
    background-color: #008bd1;
    color: #FFF;
}

.selectedrowstyle a
{
    color: #FFF;
}

.tablestyle .selectedrowstyle a
{
    border-color: #FFF;
}

.footerstyle td
{
    font-weight: bold;
}

.headerstyle th, .headerstyle td
{
    background: url('images/admin-gvw-bg.gif') repeat-x 50%;
    color: #fff;
    padding: 8px 8px;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    border-right: solid 1px #676767;
}

.headerstyle th a, .headerstyle td a
{
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding-right: 10px;
}

.rowstyle td, .altrowstyle td, .selectedrowstyle td
{
    padding: 8px;
}

.rowstyle td a, 
.treeview a
{
    font-size:1.1em;
    background:#f8f8f8;
    border:1px solid #d1d1d1;
    border-radius:8px;
    padding:3px 8px;
    color:#008bd1;
    font-weight:normal;
    display:inline-block;
    padding:2px 4px;
    transition: background 2s;
    -moz-transition: background 2s;
    -webkit-transition: background 2s;
    -o-transition: background 2s;
}

.treeview a
{
    font-size:1em !important;
}
.rowstyle td a:hover, 
.treeview a:hover
{
    color:#0a9fea;
    background:#f0f0f0;
    text-decoration:none;
    transition: background .5s;
    -moz-transition: background .5s;
    -webkit-transition: background .5s;
    -o-transition: background .5s;
}

.pager .current, a.pager-number-link, 
.pager-number-link, 
.pager-current
{
    font-size:1.2em;
    background:#666;
    border-radius:4px;
    padding:3px 5px;
}

.pager-current
{
    background:#42A4D4;
    border-radius:4px;
    padding:3px 5px;
}

.pager .disabled
{
	border: 1px solid #ddd;
	color: #999;
	margin-top: 4px;
	padding: 3px;
	text-align: center;
}

.pager .current
{
	background-color: #6ea9bf;
	border: 1px solid #6e99aa;
	font-weight: normal !important;
	margin-top: 4px;
	padding: 3px 5px;
	text-align: center;
}

.pager span, .pager a
{
	margin: 4px 3px;
	transition: background 2s;
    -moz-transition: background 2s;
    -webkit-transition: background 2s;
    -o-transition: background 2s;
}

.pager a, .pager
{
    color: #fff !important;
	padding: 3px 5px;
	text-decoration: none;
}

#pictureBrowserSearch a.pager-prev-link, #pictureBrowserSearch a.pager-prev-link:hover, #pictureBrowserSearch a.pager-next-link, 
#pictureBrowserSearch a.pager-next-link:hover, #pictureBrowserSearch .pager-prev-inactive, #pictureBrowserSearch .pager-next-inactive, 
#fileBrowserSearch a.pager-prev-link, #fileBrowserSearch a.pager-prev-link:hover, #fileBrowserSearch a.pager-next-link, 
#fileBrowserSearch a.pager-next-link:hover, #fileBrowserSearch .pager-prev-inactive, #fileBrowserSearch .pager-next-inactive
{
    background:none;
    color:#999 !important;
    display:inline-block;
    padding:4px 2px;
    font-weight:normal !important;
    font-size:1.8em;
}

#pictureBrowserSearch .pager a, #pictureBrowserSearch .pager, 
#fileBrowserSearch .pager a, #fileBrowserSearch .pager
{
    text-shadow:none !important;
    clear:both;
}

.pager
{
    margin: 8px 3px;
	padding: 3px;
}

.pager a:hover
{
    background:#999;
    transition: background .3s;
    -moz-transition: background .3s;
    -webkit-transition: background .3s;
    -o-transition: background .3s;
    font-weight:normal !important;
}

a.pager-prev-link, a.pager-prev-link:hover, a.pager-next-link, a.pager-next-link:hover, .pager-prev-inactive, .pager-next-inactive
{
    background:none;
    color:#eee;
    display:inline-block;
    padding:4px 2px;
    font-weight:normal !important;
    font-size:1.8em;
}

.pager-prev-inactive, .pager-next-inactive
{
    color:#999;
}

.pager-ellipses
{
    font-size:1.4em;
}

div.grid-list .button
{
    position:relative;
    margin:4px 0 4px 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

    HOME PAGES

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.homepage
{
}

.homepage .intro
{
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    background: #fcfabc;
    border: dashed 1px #dfdfdf;
    margin-bottom: 10px;
}

.homepage .options
{
    padding: 10px 10px 10px 10px;
    background: #e7efef;
}

.homepage .options ul
{
    margin: 0;
    padding: 0;
}

.homepage .options ul li
{
    margin-bottom: 5px;
    padding-bottom: 5px;
    list-style: none;
}

.homepage .options .title
{
}

.homepage .options .description p
{
    margin-top: 5px;
    margin-bottom: 5px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

    MISC. CLASSES

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.clear
{
    border: medium none;
    clear: both;
    float: none;
    font-size: 0;
    height: 0;
    line-height: 0;
}

.field-validation-error
{
    background:#ffffbd url(/Content/core/images/ico-warning-small.png) 3px 6px no-repeat;
    border:1px solid #ebc700;
    margin: 0 0 0 0;
    padding: 7px 5px 7px 25px;
    position: absolute;
    white-space: nowrap;
    text-shadow:none;
    color:#000;
    font-size:.9em;
}

.validatorCalloutHighlight, 
.input-validation-error
{
    background:#fff url(/Content/core/images/ico-warning-small.png) right 3px no-repeat;
    /*
    padding-right:40px;
    width:200px;
    */
}

/*ajax progress loader - static at top of page*/
.ajax-content-loading
{
    position: fixed;
    text-align:center;
    left:0px;
    top:90px;
    z-index:1110;
    width:100%;
    color: #fff;
    /*set fixed height so when on report page, fancy box can still be closed
    fancy box to be depricated with new client side report tables*/
    height:20px;
    display:none;
}

.ajax-content-loading .loading-container
{
    position:relative;
    width:300px;
    padding:20px; 
    margin:0 auto;
    width:400px;
    background:#3d484d url(images/ajax-content-loading-overlay.png) 0 0 repeat;
    border-left:0px solid #fff;
    border-right:0px solid #fff;
    border-bottom:0px solid #fff;
    border-bottom-right-radius:12px;
    border-bottom-left-radius:12px;
    -moz-border-bottom-right-radius:12px;
    -moz-border-bottom-left-radius:12px;
    -webkit-border-bottom-right-radius:12px;
    -webkit-border-bottom-left-radius:12px;
    box-shadow:0px 3px 8px #333;
    -webkit-box-shadow:0px 3px 8px #333;
    -moz-box-shadow:0px 3px 8px #333;
}

#ajax-content-loading-image
{
    background:url(images/UpdateProgress.gif) 0 0 no-repeat;
    width:220px;
    height:19px;
    margin:10px auto;
}

.master-wrapper-cph-3 #ajax-content-loading-image
{
    margin:10px 0;
}

/*Use for partial control or object loading (form elements, removal of object through async method etc...)*/
/*Use in conjunction with .progress-inhibitor*/
.progress-object
{
    position:relative;
    float:left;
    background:#ffffcc url(images/UpdateProgressCircular.gif);
    /*border:1px solid #ebc700;*/
    padding:4px 4px 4px 24px;
    color:#ccc;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

    LOGIN CLASSES

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.login-loader
{
    position:absolute;
    width:55px;
    height:55px;
    left:48%;
    top:48%;
    background:#333 url(images/LoginLoader360.gif) 0 0 no-repeat !important;
    font-size:12px !important;
}

div.login-block
{
    position: relative;
    margin: 0 auto;
    padding:5px 0 20px 0;
    width: 470px;
    background:#232323;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    color: #ccc !important;
    font-size:1em;
    border:1px solid #666;
    display:none;
    text-shadow:none;
}

div.login-block table.login-table-container
{
    position:relative;
    width:auto;
    margin:0 auto;
    border-collapse:collapse;
}

div.login-block table.login-table-container INPUT
{
    position:relative;
    margin:2px 0 2px 0;
}

div.login-block table.login-table-container .adminInput
{
    width:400px;
    position:relative;
    padding:6px;
}

.master-wrapper-content .validation-summary-errors ul
{
    padding: 0px;
}

table.login-table-container .validation-summary-errors ul, 
.master-wrapper-content .validation-summary-errors li, 
.handledError
{
    background:#ffff00 url(/Content/core/images/ico-warning-small.png) 5px 5px no-repeat;
    position:relative;
    margin:5px 0;
    list-style-type:none;
    border:1px solid #ebc700;
    padding:7px 15px 10px 25px;
    font-weight:bold;
    position:relative;
    font-size:.9em;
    font-weight:normal;
    color: #000;
    text-shadow:none;
}

table.login-table-container .buttons .adminButton
{
    width:100%;
    padding:8px;
    font-size:1.1em;
}

.login-table-container .field-validation-error
{
    color:#ffff00;
    font-size:.9em;
}

.login-table-container .field-validation-error
{
    position:relative;
    display:block;
    margin:2px 0 5px 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

    MASTER PAGES

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.master-wrapper-page
{
    min-height: 390px;
    height: auto !important;
    height: 390px;
}

.master-wrapper-content
{
}

.header
{
    height: 60px;
    width: 100%;
    position: relative;
}

.header .links a
{
    color: #fff;
}

.header .login-info
{
    
}

.header .login-info a
{
    color: #fff;
    background:url(images/icons/lock.png) right 0 no-repeat;
    display:inline-block;
    padding:2px 17px 1px 0;
}

.header .login-info a:hover
{
    background:url(images/icons/lock.png) right -18px no-repeat;
}

.header .login-info .program-name
{
    font-size:1em;
    text-align:right;
    clear:both; 
    padding:5px 0;
}

.header .login-info .program-name span a, 
.current-program
{
    background: #232323;
    font-size: 1.3em;
    font-weight: normal;
    margin-left: 2px;
    padding: 3px;
    color:#fff;
}

.logo
{
    position: relative;
    background: url('images/logo.png') 0 0 no-repeat;
    width: 162px;
    height: 40px;
    text-decoration: none;
    top: 7px;
    left: 10px;
}

.login-block .logo
{
    left:0;
    top:0;
    margin:8px 0 15px;
    width:auto;
    background: url('images/logo.png') top center no-repeat;
}

.header .languageselector
{
    position: absolute;
    right: 300px;
    top: 7px;
    text-align: right;
}

.header .links
{
    position: absolute;
    right: 10px;
    top: 7px;
    text-align: right;
}

a img
{
    border: 0;
}
.header .links .separator
{
    color: #FFF;
    padding: 0 3px 0 3px;
}

.header .login-info
{
    position: absolute;
    right: 5px;
    top: 7px;
    text-align: right;
    color: #e7e7e7;
    font-size: 10px;
}

.header .login-info select
{
    font-size: 12px;
}

.header .login-info .a
{
    color: #009FFF;
    text-decoration: none;
    font-weight: bold;
}

.header .version
{
    position: absolute;
    right: 5px;
    top: 55px;
    text-align: right;
    color: #e7e7e7;
    font-size: 10px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

    MASTER HEADER MENU

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.header-menu
{
    position:relative;
    z-index:999;
    width: 100%;
    line-height: 29px;
    height: 31px; /*background: url('images/admin-menu-bg.gif') repeat-x;*/
    background-color: #4b4a4b;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

    MASTER HEADER STATUS BAR

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.status-bar
{
    /*background: #e7efef no-repeat;*/
    height: 26px;
    border: solid 0px #acacac;
    padding: 0px 5px 0 5px;
    display: none;
}

.status-bar .help
{
    padding-top: 5px;
    float: right;
    font-weight: bold;
    color: #fff;
}

.status-bar
{
    padding-top: 5px;
}

.status-bar
{
    color: #fff;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

    MASTER ERRORS

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.messageBox
{
    background-color: #F4F4F4;
    margin:10px;
    border:1px solid #ccc;
    background:#F4F4F4;
    padding:15px;
    text-shadow:none;
}

.nosuccess-message-panel, 
.messageBoxError
{
    margin:10px;
    background:#ffeded url(/Content/core/images/ico-nosuccess.png) 15px 5px no-repeat;
    border:1px solid #ff0000;
    padding:15px 15px 15px 60px;
    font-weight:bold;
    text-shadow:none;
    color:#000 !important;
}

.success-message-panel, 
.messageBoxSuccess
{
    margin:10px;
    background:#e1fae1 url(/Content/core/images/ico-success.png) 15px 5px no-repeat;
    border:1px solid #008000;
    padding:15px 15px 15px 60px;
    font-weight:bold;
    text-shadow:none;
    color:#000 !important;
}

.warning-message-panel, 
.messageBoxWarning, 
table.login-table-container .message-error
{
    margin:10px;
    background:#ffff00 url(/Content/core/images/ico-warning.png) 15px 5px no-repeat;
    border:1px solid #ebc700;
    padding:15px 15px 15px 60px;
    font-weight:bold;
    text-shadow:none;
    color:#000 !important;
}

.ambiguous-message-panel
{
    margin:10px;
    background:#f5f5f5 url(/Content/core/images/ico-warning.png) 15px 5px no-repeat;
    border:1px solid #fff;
    padding:15px 15px 15px 60px;
    font-weight:bold;
    text-shadow:none;
    color:#000 !important;
}

.module-not-enabled
{
    margin:10px 0;
    background:url(/Content/core/images/ico-disabled.png) 15px 5px no-repeat;
    padding:15 15px 15px 60px;
    font-weight:bold;
    text-shadow:none;
    padding: 15px 52px;
    color:#000 !important;
}

/*Small Messages*/
.success-message
{
    font-size:1em;
    font-weight: bold;
    color: Green;
    padding:3px 0px 3px 23px !important;
    background:url('images/completeIcon.png') 0 0 no-repeat;
    color:#000 !important;
}

.success-message-hwhite
{
    color:#fff !important;
}

.fail-message
{
    font-size: 1em;
    font-weight: bold;
    color: red;
    padding:3px 0px 3px 23px !important;
    background:url('images/incompleteIcon.png') 0 0 no-repeat;
    color:#000 !important;
}

.partial-change
{
    position:relative;
    display:inline-block;
    color:#000;
    font-size:.9em;
    font-weight:bold;
    margin:0 10px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

    MASTER CONTENT

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.content
{
    position:relative;
    padding-top:100px;
}

.content .cph
{
    padding: 20px 15px 5px 15px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

    DASHBOARD

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

table.dashboard
{
    
    width: 100%;
    border-collapse: collapse;
}

table.dashboard td.maincol
{
    vertical-align: top;
}

table.dashboard td.welcome
{
    padding:10px;
}

.dashboardContainer
{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dashboardContainer .graphContainer
{
    position: relative;
    width: 50%;
    float: left;
}

.dashboardContainer .graphContainer .graphBorder
{
    position: relative;
    width: 343px;
    height: 343px;
    margin-left: auto;
    margin-right: auto;
    padding: 7px 0 0 7px;
    background: url(images/graphbody.png) 0 0 no-repeat;
}

.nobody
{
    background: none;
}

.graphbody
{
    background: #eee;
    background-color: #eee;
}

.graphTitle
{
    position: relative;
    margin: 4px 15px 4px 15px;
    color: #3a3a3a;
    font-weight: bold;
    text-align: center;
}

table.dashboard td.splitcol
{
    width: 50%;
    vertical-align: top;
}

table.dashboard td.rightcol
{
    width: 215px;
    background: #f3f3f3;
    padding: 10px 5px 5px 5px;
    vertical-align: top;
}

table.stats
{
    margin-top: 10px;
    width: 100%;
}

table.stats td.orderaveragereport
{
    width: 100%;
    vertical-align: top;
}

table.stats td.orderstatistics
{
    width: 50%;
    vertical-align: top;
}

table.stats td.customerstatistics
{
    width: 50%;
    vertical-align: top;
    padding-left: 5px;
}

table.stats td.bestsellers
{
    width: 65%;
    vertical-align: top;
}

table.stats td.searchterms
{
    padding-left: 5px;
    width: 35%;
    vertical-align: top;
}

table.dashboard td.basecol .warnings
{
    padding: 10px;
}




.statisticsTitle
{
    text-align: left;
    color: #3a3a3a;
    font-weight: bold;
    margin-bottom: 5px;
}

.dashboard .newsitem
{
}

.dashboard .newsitem .newstitle
{
}

.dashboard .newsitem .newstitle a:hover
{
    text-decoration: none;
}

.dashboard .newsitem .newsdate
{
    font-size: 0.8em;
    color: #555;
    border-bottom: solid 1px #dfdfdf;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.dashboard .newsitem .newsdetails
{
    color: #3a3a3a;
    margin-bottom: 10px;
}

.sf-menu, .sf-menu *
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sf-menu
{
    line-height: 31px;
}

.sf-menu ul
{
    position: absolute;
    top: -999em;
    width: 214px;
    line-height: 31px;
    opacity:.1;
}

.header-menu, .sf-shadow ul
{
    -moz-box-shadow: 3px 3px 15px #232323;
    -webkit-box-shadow: 3px 3px 15px #232323;
    box-shadow: 3px 3px 15px #232323;
}

.sf-menu li
{
    background-color: #4b4a4b;
    float: left;
    position: relative;
    padding: 0 5px 0px 5px;
    white-space: nowrap;
    vertical-align: middle;
}

.sf-menu ul li
{
    width: 214px;
    border-top: solid 1px #666;
    padding: 0px 3px 0px 7px;
}

.sf-menu li:hover, .sf-menu li.sfHover
{
    visibility: inherit; /*background: url(images/menu-item-left.png) no-repeat left center;*/
    transition: background 1s;
    -moz-transition: background 1s;
    -webkit-transition: background 1s;
    -o-transition: background 1s;
    background: url("../jqueryui/dark-hive/images/ui-bg_highlight-hard_20_0972a5_1x100.png") repeat-x scroll 50% 50% #0972A5;
}

.sf-menu li img
{
    border: none;
    padding-right: 7px; /*margin-bottom: 2px;*/
    padding-top: 6px;
    vertical-align: text-bottom;
}

.sf-menu li a, .sf-menu li a:hover
{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-weight: normal;
    padding-right: 5px;
    height: 31px;
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul
{
    opacity:.92;
    left: 0;
    top: 2.55em;
    transition: opacity .5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    z-index: 99;
    width: 214px;
    background-color: #51636d;
}

ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul
{
    top: -999em;
}

ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul
{
    left: 220px;
    top: 0;
}

ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul
{
    top: -999em;
}

ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul
{
    left: 170px;
    top: 0;
}

ul.sf-menu li span.menu-item-module-not-enabled
{
    color:#999;
}

ul.sf-menu li li.menu-item-module-not-enabled:hover
{
    background:#666;
    opacity:.92;
    cursor: not-allowed;
}


.header-menu
{
    
}

.confirm-changed
{
     color: #000;  
    background:#ffffbd url(/Content/core/images/ico-warning-small.png) 3px 6px no-repeat;
    border:1px solid #ebc700;
    margin: 0 0 0 0;
    padding: 7px 5px 7px 25px;
    position: relative;
    white-space: nowrap;
    text-shadow:none;
    font-size:.9em;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

    ORDER EDITING

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

table.order-edit
{
    width: 100%;
    border: solid 1px black;
    padding: 5px;
}

table.order-edit td
{
    padding: 1px 5px 1px 5px;
    border: medium none;
}

/* Vault dual list control */

.dualList
{
    height: 160px;
}

.dualList select
{
    min-width: 300px;
    height: 140px;
}

.dualList button
{
    min-width: 60px;
}

.dualListButtons
{
    float: left;
    margin: 10px;
    padding-top: 120px;
}

.dualListBox
{
    float: left;
}

#progressDiv
{
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    color: #3a3a3a;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    top: 0;
    left: 0;
}
#progressDivText
{
    margin-top: 15px;
    position: absolute;
    left: 0;
    height: 100%;
    text-align: center;
}
#progressBar
{
    width: 0%;
    height: 100%;
    background-color: #ddbbbb;
    background-image: url('images/ProgressBackground.png');
    background-position: right;
    color: #3a3a3a;
    text-align: center;
    overflow: hidden;
    position: relative;
    left: 0;
}
#progressBarText
{
    margin-top: 15px;
    position: absolute;
    left: 0;
    height: 100%;
    text-align: center;
}

#silverlightControlHost
{
    height: 100%;
    text-align: center;
}

.pointsAllocate
{
    border: 1px solid black;
    border-right: 0px;
    padding: 0px;
}

.pointsAllocate tr
{
    padding: 0px;
    margin: 0px;
}

.pointsAllocate th
{
    font-size: 1.2em;
    font-style: italic;
    background-color: White;
    margin: 0px;
    padding: 5px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.pointsAllocate td
{
    padding: 5px;
    border: 0px solid black;
    margin: 0px;
    border-right: 1px solid black;
}

.rowstyle .subheading
{
    font-size: 1.5em;
    font-weight: bold;
}

.completionList
{
    border: solid 1px #444444;
    margin: 0px;
    padding: 2px;
    height: 100px;
    overflow: auto;
    width: 400px;
    background-color: White;
    visibility: hidden;
}

.completionList .listItem
{
    color: #666666;
}

.completionList .itemHighlighted
{
    background-color: #ffc0c0;
}

.clientProducthHierarchy
{
    vertical-align: top;
    border: 1px solid #000; /*IE and Opera obrder*/
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #ddd;
    background: -moz-linear-gradient(top, #777777, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#dddddd));
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#777777', EndColorStr='#dddddd', GradientType=0);
}

#ParameterTable_ctl00_cph1_ctl00_reportViewer_ctl04
{
	width:900px;
	background:none !important;
}

#ParameterTable_ctl00_cph1_ctl00_reportViewer_ctl04 input[type="submit"]
{
    padding:12px;
}

.report-viewer, #reportViewer_fixedTable, #reportViewer_ReportViewer
{
    background:#fff;
}

/* Custom style for Odyssey treeview */
.odcTreeView
{
    clear:both;
    vertical-align:top;
    padding:2px;
    background-color:#ffffff !important;
}

.odcTreeView .span a
{
    padding: 0px 0px 0px 6px;
}

.odcTreeView div
{
    vertical-align:middle !important;
}

.odcTreeView div span
{
    color:#245D75;
}

.odcTreeView div span .nodeText
{
    padding-right:8px !important;
}

.odcTreeView div span a, .odcTreeView div span a:hover
{
    color:#D16400;
}

.hide
{
    display:none;
}

.adminContent .tablestyle tr td select
{
    width:258px;
    padding:2px 4px;
}

/*custom file upload control - function in public JS*/
input[type="file"]
{
    cursor:pointer;
    display:block;
    width:90px;
    height:22px;
}

.file-input-wrapper
{
    position:absolute;
    margin-top:-30px;
    filter: alpha(opacity=0);
    opacity:0;
}

.selected-file
{
    position:relative;
}


.bulk-mail-options
{
    margin-top:5px;
}

.bulk-mail-options-table
{
    background:#eef7fe;
    border:1px solid #a9e2f3;
    -moz-box-shadow: 3px 3px 5px #ccc;
    -webkit-box-shadow: 3px 3px 5px #ccc;
    box-shadow: 3px 3px 5px #ccc;
    margin-top:2px;
    padding:10px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    min-width:500px;
}

.focus-highlight .bulk-mail-options-table
{
    background:#fff;
    border:1px solid #fff;
    margin-right:20px;
}

.bulk-mail-options-table td
{
    vertical-align:top;
}

INPUT[type="text"][readonly="readonly"], 
INPUT[type="text"][disabled="disabled"]
{
    background:none;
    cursor:default;
    border:0px;
}

.force-valign-top
{
    vertical-align:top !important;
}


.QuestionBox
{
    background:#eee;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin-bottom:35px;
    padding:10px;
    text-shadow:none;
    color:#000;
}

.process-result
{
    background:#eee;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding:8px;
    text-shadow:none;
    color:#000;
}

.focus-highlight
{
    background:#eef7fe;
    border:1px solid #a9e2f3;
    width:100%;
    -moz-box-shadow: 3px 3px 5px #ccc;
    -webkit-box-shadow: 3px 3px 5px #ccc;
    box-shadow: 3px 3px 5px #ccc;
}

.answerBox
{
    background:#fff;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #ccc;
    padding:5px;
    margin:10px 0;
}

.QuestionBox .questionTable
{
    width:100%;
}

.QuestionBox .questionTable td, 
.answerBox .answerBoxTable td
{
    padding:2px 5px;
}

.answersDiv
{

}

.answerBoxTable
{
    width:100%;
}

.ShowButton
{
    margin-right:8px;
}

.HiddenField
{
    display: none;
}

.pos
{
}

.pos .product-list
{
    margin-top:20px;
}

.pos .participant-details
{
    position:relative;
    float:left;
    width:35%;
}

.pos .shopping-cart
{
    position:relative;
    float:right;
    width:55%;
}

.quiz-question-button-container
{
    position:relative;
    float:right;
    margin-top:-25px;
}

.answerBox .quiz-question-button-container
{
}

.quiz-question-button-container .Save
{
    display:none;
}

.focus-highlight .warning-message-panel
{
    margin-bottom:10px;
}

.jHtmlArea
{
    background:#eee;
    width:100% !important;
}

.rte-full-screen
{
    padding:20px;
    margin:10px 0;
    background:#000;
    border:1px solid #666;
}

.rte
{
    width:99% !important;
    height:400px !important;
}

.jHtmlArea .ToolBar
{
    width:100% !important;
}

.jHtmlAreaColorPickerMenu div
{
    text-shadow:none;
    color:#333;
}

.jHtmlArea div iframe
{
    height: 400px !important;
    width: 100% !important;
    border:0px;
    background:#fff;
}

.jHtmlArea div iframe body
{
    font-family:Arial, Verdana, Helvetica, Sans-Serif;
}

.header .notifications-wrapper
{
    position:absolute;
    left:180px;
    top:8px;
    display:none;
    height:35px;
}

.header .notifications-wrapper .notifications
{
    position:relative;
    float:left;
    background:url(images/header-notification-background.png) top left no-repeat;
    padding:0px 5px 12px 8px;
    cursor:pointer;
}

.header .notifications-wrapper .notifications-end
{
    position:relative;
    float:left;
    width:8px;
    height:25px;
    background:url(images/header-notification-end.png) top left no-repeat;
}

.header .notifications-wrapper .notifications span
{
    color:#434343;
    text-shadow:none;
    font-size:1.3em;
    letter-spacing:1px;
    font-weight:bold;
}

/*jQuery UI Overrides*/

.ui-widget-overlay
{
    background:#fff !important;
    opacity:.2 !important;
}

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
    font-family: Arial, Verdana, Helvetica, sans-serif !important;
    font-size: 1em !important;
}

.ui-widget-content
{
    background:none !important;
    color:#232323 !important;
}

.ui-widget-content a
{
    color:#008DE2;
}

.tabs
{
    border:0px !important;
}

.tabs .selected-file
{
    color:#666 !important;
}

.tabs .tabbed-content-highlight
{
    background:#fff;
    padding: 5px;
    border:#f0f0f0;
}

.ui-tabs-panel
{
    border:1px solid #aaaaaa !important;
    background:#eee !important;
    text-shadow:0 1px 1px #fff;
    min-height:60px;
    height:auto !important;
    height:60px;
}

.ui-widget-header
{
    background:none !important;
    border:0px !important;
}

.ui-tabs .ui-tabs-nav li a
{
    padding:0.3em 0.8em !important;
    font-size:1em !important;
    font-weight: normal !important;
    text-shadow:0px 1px 1px #000;
}

.ui-datepicker
{
    background:#000 !important;
    opacity:.9;
}

.ui-autocomplete
{
    background:#2682AF !important;
    opacity:.95;
    border:1px solid #ccc;
    font-size:1em !important;
}

.ui-autocomplete .ui-menu-item a
{
    color:#fff !important;
}

.ui-datepicker-title select
{
    font-size:.85em !important;
    font-weight:normal;
}

.ui-datepicker-title select:focus,
.ui-datepicker-title select:active
{
  -moz-box-shadow: #000 0 0 0px !important;
  -webkit-box-shadow: #000 0 0px !important;
  box-shadow: 0 0 0px #000 !important;
  border-collapse: separate !important;
  background:#fff !important;
  /* for Opera */
  z-index: 1;
}

.ui-state-highlight, 
.ui-widget-content 
.ui-state-highlight, 
.ui-widget-header .ui-state-highlight 
{
    background: url("../jqueryui/dark-hive/images/ui-bg_highlight-soft_80_eeeeee_1x100.png") repeat-x scroll 50% top #EEEEEE;
    border: 1px solid #CCCCCC;
    color: #000 !important;
}

.ui-datepicker-calendar th span
{
    color:#eee;
    font-weight:normal !important;
}

.tabs .ui-state-hover, .tabs .ui-state-default
{
    transition: border .4s;
    -moz-transition: border .4s;
    -webkit-transition: border .4s;
    -o-transition: border .4s;
}

.ui-dialog
{
    background:#444 !important;
    border:1px solid #999;
}

.ui-dialog a, .ui-dialog .ui-widget-content
{
    color:#fff !important;
}

.ui-dialog .ui-widget-header
{
    background:#444444 url("../../Content/jqueryui/dark-hive/images/ui-bg_highlight-soft_44_444444_1x100.png") 50% 50% repeat-x !important;
    border: 1px solid #333333!important;
    color: #FFFFFF !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset
{
    text-align: center !important;
    float:none !important;
}

.login-page .ui-dialog {
    width: 450px !important;
}

.login-page .ui-dialog .ui-dialog-titlebar-close
{
    display:none !important;
}

.tablestyle .headerstyle td, .tablestyle .headerstyle th
{
    text-shadow:0 1px 1px #000 !important;
}

.tablestyle .rowstyle td
{
    text-shadow:none;
}

.list-view
{
    width:100%;
}

.list-view td
{
    padding:2px;
}

.tool-tip
{
    
}

.program-selector
{
    cursor:pointer;
}

.program-selector-control
{
    padding:10px;
    text-shadow:none;
}

.program-selector-control ul, 
.program-selector-control li
{
    margin:0;
    padding:0;
    list-style-type:none;  
}

.program-selector-control li
{
    margin:5px 0;  
}

.program-selector-control span.selected
{
    background: url("../jqueryui/dark-hive/images/ui-bg_highlight-hard_20_0972a5_1x100.png") repeat-x scroll 50% 50% #0972A5;
    border: 1px solid #26B3F7;
    color: #FFFFFF;
    display:inline-block;
    text-shadow:0 1px 1px #000;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    padding:4px 2px;
    cursor:default;   
}

.program-selector-control img
{
    margin-left:10px;
}


.adminButton, 
#ParametersRowreportViewer input[type="submit"], 
#ParametersRowreportViewer input[type="button"]
{
    background:#72bade url(images/button-background.png) top left repeat-x;
    border:1px solid #26b3f7;
    color:#fff;
    text-shadow:0 1px 1px #000;
    font-weight:normal;
    font-size:1em;
    margin-bottom: 3px;
    padding: 6px 4px;
    cursor: pointer;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

.search-button, .search-button:hover, 
.export-button, .export-button:hover
{
    background:#72bade url(images/search-button.png) top left repeat-x;
    width:47px;
    border:1px solid #26b3f7;
    color:#fff;
    text-shadow:0 1px 1px #000;
    font-weight:normal;
    font-size:1em;
    margin-bottom: 3px;
    padding: 6px 4px;
    cursor: pointer;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

a.adminButton
{
    color:#fff;
    text-decoration:none;
    font-weight:normal
}

a.adminButtonBlock
{
    display: inline-block;
    background: #72bade url(images/button-background.png) top left repeat-x;
    border: 1px solid #26b3f7;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 3px;
    padding: 6px 4px;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-decoration: none;
}

.search-button, .search-button:hover, 
.search-button-small, .search-button-small:hover
{
    background:#72bade url(images/search-button.png) top left repeat-x;
    width:47px; 
    border:1px solid #26b3f7;
    color:#fff;
    text-shadow:0 1px 1px #000;
    font-weight:normal;
    font-size:1em;
    margin-bottom: 3px;
    padding: 6px 4px;
    cursor: pointer;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

.search-button-small, .search-button-small:hover
{
    background:#72bade url(images/search-button-small.png) top left repeat-x;
    width:32px; 
    font-size:.9em;
    margin-bottom: 0px;
    padding: 1px 2px;
    cursor: pointer;
}

.tablestyle .rowstyle .adminButton, .picture-buttons .adminButton, .tablestyle .rowstyle
{
    padding:1px 2px;
}

.adminButtonSmall
{
    background:#72bade url(images/button-background.png) top left repeat-x;
    border:1px solid #26b3f7;
    color:#fff;
    text-shadow:0 1px 1px #000;
    font-weight:normal;
    margin-bottom: 3px;
    cursor: pointer;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    font-size:.75em;
    padding:1px 0px;
}

.tablestyle .rowstyle
{
    padding:1px 2px;
}

.adminButtonSmallNoStyle
{
    font-size:.8em;
    padding:2px;
}

.adminButton:hover, a.adminButtonBlock:hover
{
    background:#74bbdf url(images/button-background-hover.png) top left repeat-x;
}

.adminInput, input[type="text"], .adminData input[type="password"], textarea, select, .textbox
{
    border: 1px solid #ccc;
    width: 250px;
    padding:6px 4px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    color:#000;
    background:#fff !important;
}

#cartTable .adminInput
{
    padding:1px;
}

input[type="checkbox"]
{
    margin:0 6px 0 0;
}

textarea
{
    width: 600px !important;
    height: 180px !important;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px !important;
}

.picture-browser-image-container {
	clear:both;
}

.picture-browser-image {
	position:relative;
	float:left;
	background: #fff;
	border:1px solid #ccc;
	margin:5px;
	padding:5px;
	border-radius:5px;
	box-shadow:0px 1px 4px #ccc;
	cursor:pointer;
	
}

.picture-browser-image:hover {
	box-shadow: 0px 3px 7px #ccc;
}

.picture-browser-image img 
{
    
}

#error-dialogue
{
    display:none;
}

#error-dialogue .error
{
    background: url(/Content/core/images/ico-nosuccess.png) 15px 15px no-repeat;
    border:0px;
    color:#fff !important;
    padding:15px 15px 15px 60px;
    font-weight:bold;
    margin:10px;
}

/*Invisible Menu Toggler*/
#divInvisibleMenus
{
    margin:0 10px 20px 10px;
    padding-top:20px;
}

.invisible-menu-header
{
    margin-bottom:0;
    padding:5px 3px 3px 20px;
    background:#fff url('images/toggle-indicator.png') 5px 10px no-repeat;
    border-bottom:1px solid #dadada;
    font-weight:bold;
}

.invisible-menu-header td:first-child
{
    cursor: pointer;
}

.menu-item-selected
{
    margin-bottom:0;
    padding:5px 3px 3px 20px;
    background:#f0f0f0 url('images/toggle-indicator.png') 5px -10px no-repeat;
    font-weight:bold;
}

.invisible-menu-items
{
    background:#f8f8f8;
    border-top:0px;
    margin:0 0 10px 20px;
    padding:6px 0;
    border-bottom:1px solid #dadada;
}

.invisible-menu-header-selected table, 
.invisible-menu-header table, 
.invisible-menu-items table
{
    width:20%;
    border-collapse:collapse;
}

.invisible-menu-header table .menu-is-invisible-checkbox, 
.invisible-menu-items table .menu-is-invisible-checkbox 
{
    
    text-align:right !important;
}

.invisible-menu-items table td
{
    cursor: pointer;
    padding: 4px 0;
}

.invisible-menu-items input[type="checkbox"] {
	display: none;
}

.invisible-menu-items table .menu-item-name
{
    font-weight:bold;
	padding: 0 0 0 10px;
}

.invisible-menu-item table .menu-item-name, 
.invisible-menu-item table .menu-is-invisible-checkbox
{
    font-size:.86em;
    padding:2px 4px;
}

.strike-through
{
    text-decoration: line-through;
}

#tblParticipantStatusOptions .inactive-row
{
    background-color: #666
}

.participant-filter .tablestyle
{
    margin-bottom:0px !important;
}

#inline-ajax-indicator
{
    position:relative;
    margin-left:6px;
}

.pos-item-3
{
    display:block;
    padding:5px 0 0 20px;
    font-size:11px;
    font-weight:bold;
}

.static-header
{
    position:fixed;
    z-index:9997;
    background:#333;
    width:100%;
}

.search-headings-text-filter
{
    position:relative;
    float:right;
    width:auto !important;
    margin-bottom: -4px;
    top:-2px;
}

.clear-notification-search-text
{
    left: 1px;
    position: absolute;
    top: 4px;
}   

input[type="text"].search-headings-textbox
{
    width:auto;
    font-size:.96em;
    padding:1px 3px !important;
}

.search-headings-image-button
{
    cursor:pointer;
    position: relative;
    margin-left: 5px;
}

.search-headings-dates
{
    position:absolute;
    margin-top:-77px;
}

.search-headings-dates-wrapper
{
    background:#232323;
}

.search-headings-dates table td
{
    text-align:left;
    background:none;
    border:0px;
    padding:10px 4px;
}

.search-headings-dates .small-date-picker
{
    font-size:.96em;
    padding:0px;
    width:75px;
    display:block;
}

.search-headings-dates .search-headers-date
{
    position:relative;
    top:8px;
}

/* the size of dropdowns in search headers needs to be adjusted */
.search-headers-select {
    font-size:.96em;
    padding:1px 3px !important;
    margin-left: 5px;
    width:auto;
}

.no-background
{
    background:none !important;
}

/* MVC report styles */
.report-background
{
	text-shadow:none !important;
}

.report-container .rowstyle td, 
.report-container .altrowstyle td, 
.report-container .selectedrowstyle td
{
    padding: 4px !important;
    color:#000;
}

.report-container .rowstyle:hover, 
.report-container .altrowstyle:hover, 
.report-container .selectedrowstyle:hover
{
    background:#eee;
    transition: background .5s;
    -moz-transition: background .5s;
    -webkit-transition: background .5s;
    -o-transition: background .5s;
}
    
.report-container .headerstyle th
{
    background:#6a6a6a;
    color: #fff;
    padding: 16px 6px;
    text-align: left;
    vertical-align: middle;
    font-weight: bold;
    border-right: solid 1px #666;
    border-top: solid 1px #000;
    text-shadow:none !important;
    white-space:nowrap;
}

.report-parameters
{
    background:#1d1d1d;
    padding:10px;
}

.headerstyle th, .headerstyle td, 
.report-title
{
    background: url('images/admin-gvw-bg.gif') repeat-x 50%;
    color: #fff;
    padding: 8px 8px;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    border-right: solid 1px #676767;
}

.report-title
{
    text-align:left;
}

.report-container
{

    overflow:auto;
}

.report-wrapper .pager span
{
    margin:0 4px;
    cursor:pointer;
    transition: color 1s;
    -moz-transition: color 1s;
    -webkit-transition: color 1s;
    -o-transition: color 1s;
    text-decoration:none;
    font-size:2em;
    color:#eee;
    letter-spacing:-2px;
}
.report-wrapper .pager span:hover
{
    transition: color .5s;
    -moz-transition: color .5s;
    -webkit-transition: color .5s;
    -o-transition: color .5s;
    text-decoration:none;
    font-size:2em;
    color:#fff;
}

.report-wrapper .numericTextBox
{
    width:30px;
    padding:4px 2px;
}

.report-wrapper .pager
{
    position:relative;
    margin:0 !important;
}

.report-wrapper .tablestyle
{
    border:1px solid #333;
}

.report-wrapper
{
    position:relative;
    margin-top:20px;
}
/*ICHTWO-215*/
.report-parameter-picker
{
    position:relative;
    float:left;
    margin:0 15px 15px 0;
    background:#0a0a0a;
    min-height:40px;
}

.report-parameter-picker .adminData
{
    width:265px;
}

.report-wrapper .warning-message-panel
{
    margin:0 0 10px 0;
}

span.icon-button
{
    position:relative;
    width:24px;
    height:24px;
    border:0px;
    cursor:pointer;
    padding:3px;
    border:1px solid #fff;
    display:inline-block;
}

span.icon-button:hover
{
    background: #e2eef4;
    border:1px solid #6fbfea;
}

.report-wrapper span.icon-button
{
    top:8px;
}

span.excel-button
{
    background: #FAFAFA url(images/buttons/excel-button.png) center center no-repeat;
    border:1px solid #DADADA;
}

span.excel-button:hover
{
    background: #e2eef4 url(images/buttons/excel-button.png) center center no-repeat;
    border:1px solid #6fbfea;
}

span.fullscreen-button
{
    background: #FAFAFA url(images/buttons/fullscreen-button.png) center center no-repeat;
    border:1px solid #DADADA;
}

span.fullscreen-button:hover
{
    background: #e2eef4 url(images/buttons/fullscreen-button.png) center center no-repeat;
    border:1px solid #6fbfea;
}

.report-wrapper-fullscreen
{
    background: none repeat scroll 0 0 #333 !important;
    left: 0 !important;
    margin-top: 0px !important;
    overflow: scroll !important;
    position: fixed !important;
    top: 0 !important;
    z-index: 9998 !important;
    width:100% !important;
    height:100% !important;
}

.report-wrapper .switchreport-view
{
    position:relative;
    float:right;
    margin-right:0px;
    cursor:pointer;
    padding:1px 4px;
    display:inline-block;
    border:1px solid #999;
}

/* Reporting service styles */
#ParametersRowreportViewer table
{
	background:#333 !important;
	border:0px !important;
}

#reportViewer_ctl01, 
#reportViewer_ctl02, 
#reportViewer_ctl03, 
#reportViewer_ctl04, 
#reportViewer_ctl05, 
#reportViewer_ctl06, 
#reportViewer_ctl07,
#reportViewer_ctl08
{
	background:#666 !important;
	background-image:none;
}

#ParametersRowreportViewer table td, 
#ParametersRowreportViewer table tr
{
	border:0px !important;
}

#ParametersRowreportViewer input[type="submit"], 
#ParametersRowreportViewer input[type="button"]
{
	padding:15px 8px;
}

.mceEditor {
	text-shadow: none !important;
}

.adminSeparator
{
    border-bottom:1px solid #ccc;
    margin:10px 0;
}

.bgTree li.expandable span.haschild, 
.bgTree span.haschild, 
.bgTree span.nochild
{
    background:url(images/icons/ico-group.png) 0 0 no-repeat !important;
}

.business-groups-table
{
    background:#fff;
}

.business-groups-table ul.treeview
{
    font-size:1.2em;
}

.business-groups-table div.groups
{
    margin:20px;
}

.ui-dialog table.tablestyle a {
	color:black !important; 
}


.product-points-table ul
{
    margin: 0;
    padding: 2px;
    list-style-type: none;
    text-align: right;
}

.product-points-table ul li
{
    padding:2px;
}

.product-points-table ul li span
{
    float:left;
}

.product-points-table input[type="text"],
.product-points-table select 
{
    width:auto;
    font-size:.96em;
    padding:1px 3px !important;
}

.footer-wrapper {
    position: relative;
    margin: 40px 15px;
}

.fancybox-wrap.fancybox-desktop {
    width: 90% !important;
    height: auto !important;
    position: relative !important;
    opacity: 1;
    overflow: visible;
    margin: 120px auto !important;
    top:0 !important;
    left:0 !important;
}

.fancybox-wrap.fancybox-desktop .fancybox-inner {
    width: auto !important;
}