  /*For Menu Section*/
        .navbar-default {
            background-color:#084892;
            border-color:0;
            height:110px;
            padding-top:15px;
        }
        .navbar {

            min-height: 150px;
            margin-bottom:0;
            border: 1px solid transparent;
            border-radius:0;
        }

        .navbar-brand
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
            margin:0 auto;
        }

        .tablaGuardias{
	        color: white;
        }

        .navbar-default .navbar-nav>li>a {
            font-size:14px;
            text-transform:uppercase;
            color:#fff;
        }

        .navbar-default .navbar-nav>li>a:hover {
            color:#7b6c63;
        }
        .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
            background-color:transparent;
            border-bottom:3px solid #7b6c63;
            color:#fff;
        }
        .colorTituloMenu {
            color:#08a0e9 ;
        }
         .fondoTituloMenu {
            background-color:#CEE3F6 ;
        }
         .menuPagina{
	         padding:1px;
             padding-top:0px;
        }
		 .panel-heading {
             background-color: #08a0e9 !important;
			 color:white !important;
         }
		 
		  .navbar-default {
             background-color: #08a0e9 !important;
         }
		 .button-primario {
             background-color: #08a0e9 !important;
			 color:white !important
         }
		
		.panel-title{
			 font-size:12px !important;
		}
		
		.panel-reducido {
		  padding: 10px;
		  width : 18% !important
		}
		
		.tabla-sinbordes td,
        .tabla-sinbordes th {
			border: 0 !important;
		}
		.celda-tabla td {
           height: 60px !important;
		}  
        
		#navlist li {
        display: inline-block;
        zoom: 1;
        *display: inline;
        list-style-type: none;
        vertical-align: middle;
		color:white;
		font-size:12px;
      }
	  
	  ul.breadcrumb {
			padding: 1px 6px;
			list-style: none;
			background-color: white;
	
		}
		ul.breadcrumb li {
			display: inline;
			font-size: 14px;
		}
		ul.breadcrumb li+li:before {
			padding: 1px;
			color: #08a0e9;
			content: "-\00a0";
		}
		ul.breadcrumb li a {
			color: #0275d8;
			text-decoration: none;
		}
		ul.breadcrumb li a:hover {
			color: #01447e;
			text-decoration: underline;
		}
		
		.tamanoInputHoras{
	       width: 90px;
        }
		.tamanoInputFechas{
	       width: 90px;
        }