 /*Formato de botones menu*/
.marginBottom-0 {
	margin-bottom:0;
	}
.dropdown-submenu{
	position:relative;
	}
.dropdown-submenu>.dropdown-menu{
top:0;left:100%;
margin-top:-6px;
margin-left:-1px;
-webkit-border-radius:0 6px 6px 6px;
-moz-border-radius:0 6px 6px 6px;
border-radius:0 6px 6px 6px;
}
.dropdown-submenu>a:after{display:block;content:" ";
float:right;width:0;
height:0;
border-color:transparent;
border-style:solid;
border-width:5px 0 5px 5px;
border-left-color:#cccccc;
margin-top:5px;
margin-right:-10px;
}
.dropdown-submenu:hover>a:after{
	border-left-color:#555;
}
.dropdown-submenu.pull-left{float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu{
	left:-100%;
margin-left:10px;
-webkit-border-radius:6px 0 6px 6px;
-moz-border-radius:6px 0 6px 6px;
border-radius:6px 0 6px 6px;
} 
.dropdown-toggle{
	color:#fff !important;
	font-size:12px !important;
}
.navbar-menubar {
	min-height:50px !important;
	background-color: #999999;	
	}	

/* Barra menu en negro con hover en blanco
.dropdown-toggle{	
	font-size:12px !important
}
.navbar-menubar {
	min-height:50px !important;
	background-color: #black;	
	}	*/
	
 /*Fin Formato de botones menu*/


 /*For Menu Section*/
        .navbar-default {
            background-color:#084892;
            border-color:0;
            height:110px;
            padding-top:15px;
        }
        .navbar {

            min-height: 130px;  /*define la altura minima de la cabecera*/
            margin-bottom:0;
            border: 1px solid transparent;
            border-radius:0;
        }

        .navbar-brand
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
            margin:0 auto;
			color:#fff !important;
        }

        .navbar-default .navbar-nav>li>a {
            font-size:14px;
            text-transform:uppercase;
            color:#fff;		
        }

        .navbar-default .navbar-nav>li>a:hover {
            color:#7b6c63;
        }
        .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
            background-color:transparent;
            border-bottom:3px solid #7b6c63;
            color:#fff;
        }
        .colorTituloMenu {
            color:#08a0e9 ;
        }
         .fondoTituloMenu {
            background-color:#CEE3F6 ;
        }
         .menuPagina{
	         padding:1px;
             padding-top:0px;
        }
		 .panel-heading {
             background-color: #1E4593 !important;
			 color:white !important;
         }
		 
		  .navbar-default {
             background-color: #1E4593 !important;
         }
		 .button-primario {
             background-color: #08a0e9 !important;
			 color:white !important
         }
		
		.panel-title{
			 font-size:12px !important;
		}
		
		.panel-reducido {
		  padding: 10px;
		  width : 18% !important
		}
		
		.tabla-sinbordes td,
        .tabla-sinbordes th {
			border: 0 !important;
		}
		.celda-tabla td {
           height: 60px !important;
		}  
        
		#navlist li {
        display: inline-block;
        zoom: 1;
        *display: inline;
        list-style-type: none;
        vertical-align: middle;
		color:white;
		font-size:12px;
      }
	  
	  ul.breadcrumb {
			padding: 1px 6px;
			list-style: none;
			background-color: white;
	
		}
		ul.breadcrumb li {
			display: inline;
			font-size: 14px;
		}
		ul.breadcrumb li+li:before {
			padding: 1px;
			color: #08a0e9;
			content: "-\00a0";
		}
		ul.breadcrumb li a {
			color: #0275d8;
			text-decoration: none;
		}
		ul.breadcrumb li a:hover {
			color: #01447e;
			text-decoration: underline;
		}
		
		.tamanoInputHoras{
	       width: 92px !important;
        }
		.tamanoInputFechas{
	       width: 140px;
        }
		.tamanoInputRecursos{
	       width: 60px;
		   font-size:10px;
        }
		
		.panelAccionesAutomaticas {
			
			padding:1px !important;
		}
		
		.panelAccionesAutomaticas {
			
			padding:1px !important;
		}
		.tablaAccionesAutomaticas_botones{
			padding: 25px !important; 
		}
		#myBtn {
		  display: none;
		  position: fixed;
		  bottom: 20px;
		  right: 30px;
		  z-index: 99;
		  border: none;
		  outline: none;
		  background-color: #08a0e9;
		  color: white;
		  cursor: pointer;
		  padding: 15px;
		  border-radius: 10px;
		}

		#myBtn:hover {
		  background-color: #555;
		}
		

		.hover_btn:hover {
			 background-color: #DA3A3F !important;
			 
		}
		.button-primario{
			background-color: georgian !important;
		}
		
/*Barra lateral iconos*/

body {margin:-1px}

.icon-bar {navbar
    width: 250px;
    background-color: #1E4593 ;
}

.icon-bar a {
    display: block;
    text-align: left;
    padding: 8px;
    transition: all 0.3s ease;
    color: white;
    font-size: 15px;
}


/*Fin Barra lateral iconos*/

.active {
    background-color: #4CAF50 !important;
}

.panel-body-menu-lateral 
        {
           padding:0px !important;
           padding-left:50px !important;
           border:5px  !important;
           border-bottom:1px solid transparent !important;
        }
.panel-body-incidencia 
        {
           padding:0px !important;
           border:none  !important;
           border-bottom:1px solid transparent !important;
        }

.panel-primary-incidencia 
        {
           padding:0px !important;
           border:none  !important;
           border-bottom:1px solid transparent !important;
        }
/*color de la cabecera*/		
.row-cabeceraMasterPage {
  background-color: #084892 !important;
}

/* CSS para la tabla de guardias de la cabecera*/
		.divTable{
			display: table;
			width: 100%;
		}
		.divTableRow {
			display: table-row;
		}
		.divTableHeading {
			background-color: #EEE;
			display: table-header-group;
		}
		.divTableCell, .divTableHead {
			border: px solid #999999;
			display: table-cell;
			padding: 3px 10px;
		}
		.divTableHeading {
			background-color: #EEE;
			display: table-header-group;
			font-weight: bold;
		}
		.divTableFoot {
			background-color: #EEE;
			display: table-footer-group;
			font-weight: bold;
		}
		.divTableBody {
			display: table-row-group;
		}
		.divTableHead {
			border-bottom: 0px solid #999999;
			display: table-cell;
			padding: 3px 10px;
		}
/*fin CSS para la tabla de guardias de la cabecera */		